.AboutBlock_o-site-container__ekSty {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (min-width: 48em) {
  .AboutBlock_o-site-container__ekSty {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (min-width: 82.8125em) {
  .AboutBlock_o-site-container__ekSty {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.AboutBlock_section__9WQmC {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  position: relative;
  min-height: 100%;
  margin-block: 2.5rem;
}

@media (min-width: 48em) {
  .AboutBlock_section__9WQmC {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (min-width: 82.8125em) {
  .AboutBlock_section__9WQmC {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (min-width: 48em) {
  .AboutBlock_section__9WQmC {
    margin-block: 7.5rem;
  }
}

.gold .AboutBlock_section__9WQmC .AboutBlock_imageWrapper__46_w_:after,
.gold .AboutBlock_section__9WQmC .AboutBlock_videoWrapper__s0vxa:after {
  background-color: #1f1c16;
}

@media (min-width: 48em) {

  .gold .AboutBlock_section__9WQmC .AboutBlock_imageWrapper__46_w_,
  .gold .AboutBlock_section__9WQmC .AboutBlock_videoWrapper__s0vxa {
    border-top: 0.0625rem solid #f8ebcb;
    border-right: 0.0625rem solid #f8ebcb;
  }
}

.gold .AboutBlock_section__9WQmC .AboutBlock_textSection__toSlF:after {
  background-color: #2c2713;
}

@media (min-width: 48em) {
  .gold .AboutBlock_section__9WQmC .AboutBlock_textSection__toSlF {
    border-bottom: 0.0625rem solid #f8ebcb;
    border-right: 0.0625rem solid #f8ebcb;
  }

  .gold .AboutBlock_section__9WQmC .AboutBlock_textSection__toSlF:before {
    border-bottom: 0.0625rem solid #f8ebcb;
  }
}

.gold .AboutBlock_section__9WQmC .AboutBlock_infoSection__rhhGb:after {
  background-color: #2c2713;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_titleSmall__f0IN5 {
  color: #f8ebcb;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_titleSmall__f0IN5:before {
  background: linear-gradient(180deg, #2c2713, hsla(0, 0%, 85%, 0));
}

.gold .AboutBlock_section__9WQmC .AboutBlock_info__jqTAN,
.gold .AboutBlock_section__9WQmC .AboutBlock_titleLarge__hwrwt {
  color: #f8ebcb;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_cardtextWrapper__b06bU p {
  color: #2c2713;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_card__gxXEg {
  background: #d0bb76;
  background: linear-gradient(-45deg, #d0bb76, #ceaa53 65%);
}

.gold .AboutBlock_section__9WQmC .AboutBlock_cardImageWrapper__QcDd4 {
  background-color: #1f1c16;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_icon__lsHnW {
  color: #1f1c16;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_iconWrapper__JivBc {
  background-color: #ceaa53;
}

.gold .AboutBlock_section__9WQmC .AboutBlock_cardtitle__zemEt {
  color: #1f1c16;
}

.AboutBlock_container___ieX0 {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  padding: 2.5rem 0;
  grid-gap: 0;
  gap: 0;
}

@media (min-width: 48em) {
  .AboutBlock_container___ieX0 {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding: 5rem 0;
    grid-gap: 0;
    gap: 0;
  }
}

.AboutBlock_imageSection__6z_Kp {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  min-height: 26.25rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1.5rem;
}

@media (min-width: 48em) {
  .AboutBlock_imageSection__6z_Kp {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 3rem;
    min-height: 39rem;
  }
}

.AboutBlock_imageWrapper__46_w_,
.AboutBlock_videoWrapper__s0vxa {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  border-top-right-radius: 3rem;
  overflow: hidden;
  z-index: 0;
  height: 100%;
  width: calc(100% + 8 * var(--space));
}

.AboutBlock_imageWrapper__46_w_:after,
.AboutBlock_videoWrapper__s0vxa:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  z-index: 0;
  height: 100%;
  z-index: 1;
  background-color: #00235d;
  opacity: 0.4;
}

@media (min-width: 48em) {

  .AboutBlock_imageWrapper__46_w_,
  .AboutBlock_videoWrapper__s0vxa {
    right: 0;
    transform: translateX(0);
    border-top-right-radius: 6rem;
    width: calc(100% + 10 * var(--space));
    border-top: 0.0625rem solid #99aed1;
    border-right: 0.0625rem solid #99aed1;
  }
}

@media (min-width: 82.8125em) {

  .AboutBlock_imageWrapper__46_w_,
  .AboutBlock_videoWrapper__s0vxa {
    width: calc(100% + 22 * var(--space));
  }
}

.AboutBlock_imageMove__MFYcS,
.AboutBlock_videoMove__s_Zgz {
  height: calc(100% + 12.5rem);
  overflow: hidden;
  width: calc(100% + 8 * var(--space));
  border-top-right-radius: 3rem;
}

@media (min-width: 48em) {

  .AboutBlock_imageMove__MFYcS,
  .AboutBlock_videoMove__s_Zgz {
    border-top-right-radius: 6rem;
  }
}

.AboutBlock_image__znq8o,
.AboutBlock_video__CKPzH {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutBlock_titleLarge__hwrwt {
  z-index: 1;
  grid-column: span 4;
  color: #fff;
  font-family: 'Exo_Bold', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

@media (min-width: 48em) {
  .AboutBlock_titleLarge__hwrwt {
    font-family: 'Exo_Bold', sans-serif;
    font-size: 6rem;
    font-weight: 700;
    grid-column: span 9;
  }
}

.AboutBlock_textSection__toSlF {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  padding-top: 3rem;
  padding-bottom: 0;
  grid-gap: 0;
  gap: 0;
}

.AboutBlock_textSection__toSlF:after {
  background-color: #00112e;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
}

@media (min-width: 48em) {
  .AboutBlock_textSection__toSlF {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 3rem;
    padding-bottom: 5.5rem;
    border-bottom-right-radius: 6rem;
    border-bottom: 0.0625rem solid #99aed1;
    border-right: 0.0625rem solid #99aed1;
    grid-gap: 0;
    gap: 0;
  }

  .AboutBlock_textSection__toSlF:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -0.0625rem;
    right: 6rem;
    width: 100vw;
    height: 0.0625rem;
    border-bottom: 0.0625rem solid #99aed1;
  }

  .AboutBlock_textSection__toSlF.AboutBlock_cardvariant__CK8bi {
    padding-bottom: 3rem;
  }
}

.AboutBlock_infoSection__rhhGb {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  margin-top: -0.0625rem;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.AboutBlock_infoSection__rhhGb:after {
  background-color: #00112e;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  z-index: -1;
  border-bottom-left-radius: 2.5rem;
}

@media (min-width: 48em) {
  .AboutBlock_infoSection__rhhGb {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 5rem;
    padding-bottom: 7rem;
  }

  .AboutBlock_infoSection__rhhGb:after {
    border-bottom-left-radius: 6rem;
  }
}

.AboutBlock_titleSmall__f0IN5 {
  z-index: 1;
  grid-column: span 4;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 6rem;
  font-weight: 500;
  position: relative;
}

.AboutBlock_titleSmall__f0IN5:before {
  background: linear-gradient(180deg,
      rgba(0, 17, 46, 0.72),
      hsla(0, 0%, 85%, 0));
  content: "";
  position: absolute;
  display: block;
  top: -3rem;
  left: 0;
  width: 100%;
  height: 15.5rem;
  z-index: 1;
}

@media (min-width: 48em) {
  .AboutBlock_titleSmall__f0IN5 {
    grid-column: span 8;
  }
}

.AboutBlock_info__jqTAN {
  color: #fff;
  line-height: 30px;
  grid-column: span 4;
  font-family: 'Exo', sans-serif;
  font-weight: 200;
  font-size: larger;
}

@media (min-width: 48em) {
  .AboutBlock_info__jqTAN {
    grid-column: span 7;
    grid-column: 5 / span 7;
  }

  .AboutBlock_info__jqTAN.AboutBlock_cardvariant__CK8bi {
    grid-column: span 7;
  }

  .AboutBlock_info__jqTAN.AboutBlock_cardvariant__CK8bi .AboutBlock_button__gGFFn {
    margin-top: 1.5rem;
  }
}

.AboutBlock_button__gGFFn {
  margin-top: 3rem;
}

.AboutBlock_cardWrapper__Nhths {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
  gap: 1.5rem;
  perspective: 1200px;
}

@media (min-width: 48em) {
  .AboutBlock_cardWrapper__Nhths {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5rem;
    gap: 1.5rem;
  }
}

.AboutBlock_card__gxXEg {
  grid-column: span 4;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

@media (min-width: 48em) {
  .AboutBlock_card__gxXEg {
    grid-column: span 6;
    position: relative;
  }
}

@media (min-width: 71.3125em) {
  .AboutBlock_card__gxXEg {
    grid-column: span 4;
    position: relative;
  }
}

.AboutBlock_card__gxXEg:hover .AboutBlock_cardImage__3eqAu {
  transform: scale(1.1);
  opacity: 0.8;
}

.AboutBlock_cardImageWrapper__QcDd4 {
  width: 100%;
  overflow: hidden;
  background-color: #00112e;
  max-height: 14.5rem;
  height: 100%;
}

.AboutBlock_cardImage__3eqAu {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  object-fit: cover;
}

.AboutBlock_cardtextWrapper__b06bU {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5rem;
  height: 100%;
  z-index: 0;
}

.AboutBlock_cardtitle__zemEt {
  margin-bottom: 0.5rem;
  color: #2086ae;
  font: 700 1.5rem/2rem var(--schibsted_Grotesk);
}

.AboutBlock_link__HwftW {
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
  z-index: 2;
}

.AboutBlock_button__gGFFn {
  align-self: flex-end;
}

.AboutBlock_iconWrapper__JivBc {
  position: absolute;
  top: -2.5rem;
  left: 0;
  padding: 1.5rem;
  background-color: #fff;
  border-top-right-radius: 1rem;
}

.AboutBlock_iconWrapper__JivBc .AboutBlock_icon__lsHnW {
  color: #2086ae;
}

.Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.Icon_icon___Kgo7 svg {
  display: block;
}

@keyframes Button_bob__3_pUe {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200%);
  }
  51% {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes Button_anti-bob__G1XfJ {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200%);
  }
  51% {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
.Button_button__T6zT9 {
  font: var(--font-label-large);
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s ease-out, transform 0.3s ease-out,
    color 0.3s ease-out;
}
.Button_button__T6zT9[disabled] {
  opacity: 0.4;
}
.Button_button__T6zT9:hover .Button_icon__Rt_Hz {
  transform: scale(1.1);
}
.Button_button__T6zT9:hover .Button_icon__Rt_Hz .icon {
  transform: scale(0.9);
  animation: Button_bob__3_pUe 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.Button_icon__Rt_Hz {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.Button_icon__Rt_Hz .icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.Button_icon__Rt_Hz .icon,
.Button_titleWrapper__Glw9g {
  transition: all 0.3s ease-out;
}
.Button_primary__b__QL {
  color: #2086ae;
  border: 0.0625rem solid #99aed1;
  border-radius: 2rem;
  padding: 0.5rem;
  gap: 1rem;
  align-items: center;
}
.Button_primary__b__QL .Button_titleWrapper__Glw9g {
  margin: 0 1rem;
  color: #2086ae;
}
.Button_primary__b__QL.Button_iconButton__fsKFn .Button_titleWrapper__Glw9g {
  margin: 0 0 0 1.5rem;
}
.Button_primary__b__QL .Button_icon__Rt_Hz {
  padding: 0.5rem;
  background-color: #2086ae;
  height: 100%;
  overflow: hidden;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
}
.Button_primary__b__QL .Button_icon__Rt_Hz .icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}
.Button_primary__b__QL:hover {
  color: #fff;
}
.Button_primary__b__QL:hover .Button_icon__Rt_Hz {
  background-color: #2086ae;
}
.Button_primary__b__QL:active,
.Button_primary__b__QL:focus {
  color: #ccd6e8;
}
.Button_primary__b__QL:active .Button_titleWrapper__Glw9g,
.Button_primary__b__QL:focus .Button_titleWrapper__Glw9g {
  color: #00235d;
}
.Button_primary__b__QL:active .Button_icon__Rt_Hz,
.Button_primary__b__QL:focus .Button_icon__Rt_Hz {
  background-color: #00235d;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ,
.darkmode .Button_primary__b__QL {
  color: #fff;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz,
.darkmode .Button_primary__b__QL .Button_icon__Rt_Hz {
  background-color: #fff;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz .icon,
.darkmode .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
  color: #00112e;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ .Button_titleWrapper__Glw9g,
.darkmode .Button_primary__b__QL .Button_titleWrapper__Glw9g {
  color: #fff;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ:hover,
.darkmode .Button_primary__b__QL:hover {
  background-color: transparent;
  border: 0.0625rem solid #99aed1;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ:hover .Button_icon__Rt_Hz,
.darkmode .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
  background-color: #ccd6e8;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz,
.Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz,
.darkmode .Button_primary__b__QL:active .Button_icon__Rt_Hz,
.darkmode .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
  background-color: #2086ae;
}
.Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz .icon,
.Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz .icon,
.darkmode .Button_primary__b__QL:active .Button_icon__Rt_Hz .icon,
.darkmode .Button_primary__b__QL:focus .Button_icon__Rt_Hz .icon {
  color: #fff;
}
.gold .Button_primary__b__QL {
  border: 0.0625rem solid #ac904c;
}
.gold .Button_primary__b__QL.Button_goldLight__ZvTNn {
  border: 0.0625rem solid #ffd36a;
}
.gold
  .Button_primary__b__QL.Button_goldLight__ZvTNn
  .Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}
.gold .Button_primary__b__QL.Button_goldLight__ZvTNn .Button_icon__Rt_Hz {
  background-color: #ceaa53;
}
.gold .Button_primary__b__QL.Button_goldLight__ZvTNn .Button_icon__Rt_Hz .icon {
  color: #000;
}
.gold .Button_primary__b__QL.Button_goldLight__ZvTNn:hover .Button_icon__Rt_Hz {
  background-color: #ffd36a;
}
.gold .Button_primary__b__QL.Button_goldLight__ZvTNn:active .Button_icon__Rt_Hz,
.gold .Button_primary__b__QL.Button_goldLight__ZvTNn:focus .Button_icon__Rt_Hz {
  background-color: #ac904c;
}
.gold .Button_primary__b__QL .Button_titleWrapper__Glw9g {
  color: #2c2713;
}
.gold .Button_primary__b__QL .Button_icon__Rt_Hz {
  background-color: #ffd36a;
}
.gold .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
  color: #2c2713;
}
.gold .Button_primary__b__QL:hover {
  border: 0.0625rem solid #2c2713;
}
.gold .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
  background-color: #ac904c;
}
.gold .Button_primary__b__QL:hover .Button_icon__Rt_Hz .icon {
  color: #2c2713;
}
.gold .Button_primary__b__QL:active,
.gold .Button_primary__b__QL:focus {
  border: 0.0625rem solid #2c2713;
}
.gold .Button_primary__b__QL:active .Button_icon__Rt_Hz,
.gold .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
  background-color: #655631;
}
.gold .Button_primary__b__QL:active .Button_icon__Rt_Hz .icon,
.gold .Button_primary__b__QL:focus .Button_icon__Rt_Hz .icon {
  color: #fff;
}
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ {
  border: 0.0625rem solid #ffd36a;
}
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn {
  border: 0.0625rem solid #ac904c;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
  .Button_titleWrapper__Glw9g {
  color: #2c2713;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
  .Button_icon__Rt_Hz {
  background-color: #ffd36a;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
  .Button_icon__Rt_Hz
  .icon {
  color: #2c2713;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover {
  border: 0.0625rem solid #2c2713;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover
  .Button_icon__Rt_Hz {
  background-color: #ac904c;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover
  .Button_icon__Rt_Hz
  .icon {
  color: #2c2713;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active,
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus {
  border: 0.0625rem solid #2c2713;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active
  .Button_icon__Rt_Hz,
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus
  .Button_icon__Rt_Hz {
  background-color: #655631;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active
  .Button_icon__Rt_Hz
  .icon,
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus
  .Button_icon__Rt_Hz
  .icon {
  color: #fff;
}
.gold
  .Button_primary__b__QL.Button_darkmode__ozqJQ
  .Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz {
  background-color: #ceaa53;
}
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz .icon {
  color: #000;
}
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ:hover .Button_icon__Rt_Hz {
  background-color: #ffd36a;
}
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz,
.gold .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.JobsCard_info__mr8vF p {
  font-family: 'SchibstedGrotesk_semibold', sans-serif;
  font-weight: 800;
  font-size: medium;
}