.Footer_o-site-container__7mBjf {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}
@media (min-width: 48em) {
  .Footer_o-site-container__7mBjf {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}
@media (min-width: 82.8125em) {
  .Footer_o-site-container__7mBjf {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}
.Footer_footer__EQXzy {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #2086ae;
  padding: 4rem 0 2.5rem;
  position: relative;
  gap: 6rem;
}
.gold .Footer_footer__EQXzy {
  background-color: #ceaa53;
}
.gold .Footer_footer__EQXzy .Footer_logo__p1Zz4 .Footer_blue__Hy8ea,
.gold .Footer_footer__EQXzy .Footer_logo__p1Zz4 .Footer_grey__qmRgm {
  color: #000;
}
.gold .Footer_footer__EQXzy .Footer_privacyTerms__sz4zC,
.gold .Footer_footer__EQXzy .Footer_socialIcon__bQEbt {
  color: #655631;
}
.gold .Footer_footer__EQXzy .Footer_privacyTerms__sz4zC a:hover,
.gold .Footer_footer__EQXzy .Footer_socialIcon__bQEbt a:hover,
.gold .Footer_footer__EQXzy .Footer_socialIcon__bQEbt:hover {
  color: #1f1c16;
}
.gold .Footer_footer__EQXzy .Footer_navItem__DCCez {
  color: #000;
}
.gold .Footer_footer__EQXzy .Footer_navItem__DCCez:hover {
  color: #655631;
}
.promar .Footer_footer__EQXzy {
  background-color: #fff;
  border-top: 1px solid #66c6c2;
  border-left: 1px solid #66c6c2;
  border-top-left-radius: 6rem;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}
.promar .Footer_footer__EQXzy .Footer_logo__p1Zz4,
.promar .Footer_footer__EQXzy .Footer_logo__p1Zz4 .blue {
  color: #00a099;
}
@media (min-width: 48em) {
  .promar .Footer_footer__EQXzy {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}
@media (min-width: 82.8125em) {
  .promar .Footer_footer__EQXzy {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}
.promar .Footer_footer__EQXzy .Footer_footerTop__XBqF3,
.promar .Footer_footer__EQXzy .Footer_socials__9ZNZ_ {
  padding: 0;
}
.promar .Footer_footer__EQXzy .Footer_privacyTerms__sz4zC,
.promar .Footer_footer__EQXzy .icon {
  color: #006662;
}
.promar .Footer_footer__EQXzy .icon:hover {
  color: #99d9d6;
}
.Footer_footerTop__XBqF3 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
@media (min-width: 48em) {
  .Footer_footerTop__XBqF3 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}
@media (min-width: 82.8125em) {
  .Footer_footerTop__XBqF3 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}
@media (min-width: 48em) {
  .Footer_footerTop__XBqF3 {
    flex-direction: row;
    gap: 6rem;
  }
}
.Footer_navWrapper__xWSoa {
  width: 100%;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media (min-width: 48em) {
  .Footer_navWrapper__xWSoa {
    flex-direction: row;
    grid-column: span 5;
    grid-column: 4 / span 5;
  }
}
.Footer_navItem__DCCez {
  align-items:baseline;
  font-family: 'Exo',sans-serif;
  font-size: medium;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
.Footer_navItem__DCCez:hover {
  color: #ffffff;
}
.Footer_logoWrapper__P93m7 {
  grid-column: span 4;
  width: 100%;
  align-self: flex-start;
}
@media (min-width: 48em) {
  .Footer_logoWrapper__P93m7 {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.Footer_logo{
  padding-bottom: 2rem;
  
}
.Footer_address__Cj4AX {
  grid-column: span 4;
}
@media (min-width: 48em) {
  .Footer_address__Cj4AX {
    grid-column: span 2;
    grid-column: 4 / span 2;
  }
}
.Footer_socials__9ZNZ_ {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
@media (min-width: 48em) {
  .Footer_socials__9ZNZ_ {
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: flex-start;
    grid-column: span 5;
    grid-column: 8 / span 5;
    padding-right: 2rem;
  }
}

.Footer_socialLinks__zyHKp {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.Footer_socialLinks__zyHKp a {
  height: 1.5rem;
}
.Footer_socialIcon__bQEbt {
  color: #ffffff;
  transition: all 0.2s ease-out;
}
.Footer_socialIcon__bQEbt:hover {
  color: #99d1c8;
}
.Footer_privacyTerms__sz4zC {
  color: #99aed1;
  font-family:'Exo',sans-serif;
  font-size: medium;
  font-weight: 300;
  text-align: start;
}
.Footer_privacyTerms__sz4zC a {
  text-decoration: underline;
}
@media (min-width: 48em) {
  .Footer_privacyTerms__sz4zC {
    text-align: end;
  }
}
.Footer_privacyTerms__sz4zC a:hover {
  color: #ccd6e8;
}
.Footer_logo__p1Zz4 {
  height: 2.5rem;
  width: 100%;
}
.Footer_logo__p1Zz4 .Footer_blue__Hy8ea,
.Footer_logo__p1Zz4 .Footer_grey__qmRgm {
  color: #fff;
  transition: color 0.3 ease-in-out;
}
.MadeBy_o-site-container__MF_pf {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}
@media (min-width: 48em) {
  .MadeBy_o-site-container__MF_pf {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}
@media (min-width: 82.8125em) {
  .MadeBy_o-site-container__MF_pf {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}
.MadeBy_wrapper__hnstJ {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  z-index: 3;
  transition: 0.1s ease-in-out;
  margin-top: 1rem;
}
@media (min-width: 48em) {
  .MadeBy_wrapper__hnstJ {
    margin-top: 0;
    position: absolute;
    bottom: 2.5rem;
    left: calc(10 * var(--space));
  }
}
@media (min-width: 82.8125em) {
  .MadeBy_wrapper__hnstJ {
    left: calc(22 * var(--space));
  }
}
.MadeBy_wrapper__hnstJ svg {
  height: 1.25rem;
  color: #6685ba;
  display: block;
  transition: all 0.2s ease-out;
}
.MadeBy_wrapper__hnstJ svg circle,
.MadeBy_wrapper__hnstJ svg path {
  display: block;
}
.MadeBy_wrapper__hnstJ .MadeBy_text__cbSBi {
  font: var(--font-caption-small);
  text-decoration: none;
  line-height: 1;
  color: #99aed1;
  transition: all 0.2s ease-out;
}
.MadeBy_wrapper__hnstJ:hover,
.MadeBy_wrapper__hnstJ:hover .MadeBy_text__cbSBi {
  color: #ccd6e8;
}
.MadeBy_wrapper__hnstJ:hover svg {
  color: #99aed1;
}
.gold .MadeBy_wrapper__hnstJ .MadeBy_text__cbSBi,
.gold .MadeBy_wrapper__hnstJ svg {
  color: #655631;
}
.gold .MadeBy_wrapper__hnstJ:hover,
.gold .MadeBy_wrapper__hnstJ:hover .MadeBy_text__cbSBi,
.gold .MadeBy_wrapper__hnstJ:hover svg {
  color: #1f1c16;
}
.promar .MadeBy_wrapper__hnstJ svg {
  color: rgba(102, 198, 194, 0.439);
}
.promar .MadeBy_wrapper__hnstJ .MadeBy_text__cbSBi {
  color: #66c6c2;
}
.promar .MadeBy_wrapper__hnstJ:hover,
.promar .MadeBy_wrapper__hnstJ:hover .MadeBy_text__cbSBi,
.promar .MadeBy_wrapper__hnstJ:hover svg {
  color: #006662;
}

.Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}
.Icon_icon___Kgo7 svg {
  display: block;
}


.ContactForm_formRow__tPm9Z {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: stretch;
}
@media (min-width: 48em) {
  .ContactForm_formRow__tPm9Z {
    flex-direction: row;
  }
}
.ContactForm_formItem__pxEdr {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.ContactForm_formItem__pxEdr .ContactForm_label__xyhWw {
  font-family: 'Exo', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  margin-left: 0.75rem;
}
.ContactForm_formItem__tooltip__S6IwZ {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  width: 100%;
  padding: 0.75rem;
  background-color: #fff;
  color: #fff;
  font-family: 'SchibstedGrotesk_Medium', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0.75rem;
  box-shadow: 4px 8px 16px 0 rgba(0, 35, 93, 0.08);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}
.ContactForm_formItem__tooltip__S6IwZ:after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  background-color: #fff;
}
.ContactForm_formItem__tooltip__S6IwZ.ContactForm_active__8aVDv {
  opacity: 1;
  pointer-events: all;
}
.ContactForm_input__JLtth,
.ContactForm_textarea__jyvij {
  font-family:'Exo',sans-serif;
  font-weight:400;
  font-size: medium;
  background-color: transparent;
  border: 0.0625rem solid #fff;
  padding: 0.75rem;
  border-radius: 0.75rem;
  width: 100%;
  color: #fff;
}

.flipContainer {
  position: relative;
  width: 250px;
  height: 80px;
}

.logoImage {
  position: absolute;
  width: auto;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

/* Flip effect on hover */
.flipContainer:hover .front {
  transform: rotateY(180deg);
}

.flipContainer:hover .back {
  transform: rotateY(0deg);
}
