.ContactForm_o-site-container__NpnLI {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
  }
  @media (min-width: 48em) {
    .ContactForm_o-site-container__NpnLI {
      padding-left: calc(10 * var(--space));
      padding-right: calc(10 * var(--space));
    }
  }
  @media (min-width: 82.8125em) {
    .ContactForm_o-site-container__NpnLI {
      padding-left: calc(22 * var(--space));
      padding-right: calc(22 * var(--space));
    }
  }
  .ContactForm_section__enWFi {
    position: relative;
    margin-block: 1rem;
    transition: background-color 0.3s ease-out;
  }
  @media (min-width: 48em) {
    .ContactForm_section__enWFi {
      margin-block: 2rem;
    }
  }
  .gold .ContactForm_section__enWFi .ContactForm_info__Iv_mD {
    color: #f8ebcb;
  }
  .gold .ContactForm_section__enWFi .ContactForm_info__Iv_mD a {
    color: #fdda89;
  }
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    .ContactForm_formTitle__JY_XW,
  .gold .ContactForm_section__enWFi .ContactForm_title__8EQzh {
    color: #ceaa53;
  }
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    .ContactForm_label__xyhWw {
    color: #655631;
  }
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0:after {
    background: #ffe9ad;
    background: linear-gradient(45deg, #ffe9ad, #ffd36a);
  }
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 input,
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 textarea {
    border-color: #ac904c;
    background-color: transparent;
    box-shadow: 4px 8px 16px 0 rgba(0, 35, 93, 0.08);
    color: #655631;
  }
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 input::placeholder,
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    textarea::placeholder {
    color: #ac904c;
  }
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 input:hover,
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 textarea:hover {
    border-color: #655631;
  }
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 input:focus,
  .gold .ContactForm_section__enWFi .ContactForm_form__eNij0 textarea:focus {
    border-color: #2c2713;
    outline-color: #2c2713;
  }
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    .ContactForm_checkboxWrapper__aSMyg {
    color: #655631;
  }
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    .ContactForm_checkboxWrapper__aSMyg
    a {
    color: #ac904c;
  }
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    .ContactForm_checkboxWrapper__aSMyg
    a:hover {
    color: #2c2713;
  }
  .gold
    .ContactForm_section__enWFi
    .ContactForm_form__eNij0
    .ContactForm_formbutton__tH5__ {
    color: #fff;
  }
  .ContactForm_container__IPrwv {
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    grid-gap: 1.5rem;
    gap: 1.5rem;
  }
  @media (min-width: 48em) {
    .ContactForm_container__IPrwv {
      padding-left: calc(10 * var(--space));
      padding-right: calc(10 * var(--space));
    }
  }
  @media (min-width: 82.8125em) {
    .ContactForm_container__IPrwv {
      padding-left: calc(22 * var(--space));
      padding-right: calc(22 * var(--space));
    }
  }
  @media (min-width: 48em) {
    .ContactForm_container__IPrwv {
      box-sizing: border-box;
      display: grid;
      grid-gap: 1vw;
      gap: 1vw;
      width: 100%;
      grid-template-columns: repeat(12, 1fr);
    }
  }
  .ContactForm_textWrapper__zhxhW {
    grid-column: span 4;
  }
  @media (min-width: 48em) {
    .ContactForm_textWrapper__zhxhW {
      grid-column: span 5;
      padding-top: 3rem;
    }
  }
  .ContactForm_title__8EQzh {
    color: #00358d;
    margin-bottom: 1.5rem;
    font-family: 'Exo', sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
  }
  .ContactForm_info__Iv_mD {
    font-family:'Exo', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
  }
  .ContactForm_form__eNij0 {
    grid-column: span 4;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
  }
  .ContactForm_form__eNij0:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    border-bottom-right-radius: 0;
    background-color: #fff;
    z-index: -1;
  }
  @media (min-width: 48em) {
    .ContactForm_form__eNij0 {
      grid-column: span 6;
      grid-column: 7 / span 6;
      padding: 4.5rem 4.5rem 4.5rem 0;
    }
    .ContactForm_form__eNij0:after {
      border-radius: 6rem;
      width: calc(100% + 4.5rem);
      border-bottom-right-radius: 0;
    }
  }
  .ContactForm_formRow__tPm9Z {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: stretch;
  }
  @media (min-width: 48em) {
    .ContactForm_formRow__tPm9Z {
      flex-direction: row;
    }
  }
  .ContactForm_formItem__pxEdr {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .ContactForm_formItem__pxEdr .ContactForm_label__xyhWw {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #6685ba;
    margin-left: 0.75rem;
  }
  .ContactForm_formItem__tooltip__S6IwZ {
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: #ccd6e8;
    color: #00358d;
    font-family: 'SchibstedGrotesk_Medium', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.75rem;
    box-shadow: 4px 8px 16px 0 rgba(0, 35, 93, 0.08);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }
  .ContactForm_formItem__tooltip__S6IwZ:after {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    background-color: #ccd6e8;
  }
  .ContactForm_formItem__tooltip__S6IwZ.ContactForm_active__8aVDv {
    opacity: 1;
    pointer-events: all;
  }
  .ContactForm_input__JLtth,
  .ContactForm_textarea__jyvij {
    font-family:'Exo',sans-serif;
    font-weight:400;
    font-size: medium;
    background-color: transparent;
    border: 0.0625rem solid #6685ba;
    padding: 0.75rem;
    border-radius: 0.75rem;
    width: 100%;
    color: #00358d;
  }
  .ContactForm_input__JLtth::placeholder,
  .ContactForm_textarea__jyvij::placeholder {
    color: #99aed1;
  }
  .ContactForm_checkboxWrapper__aSMyg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #2086ae;
    gap: 0.25rem;
  }
  .ContactForm_checkboxWrapper__aSMyg .ContactForm_checkbox___UKEv {
    margin: 0 0.75rem 0 0;
  }
  .ContactForm_checkboxWrapper__aSMyg a {
    color: #6685ba;
    text-decoration: underline;
  }
  .ContactForm_checkboxWrapper__aSMyg a:hover {
    color: #00358d;
  }
  .ContactForm_formbutton__tH5__ {
    width: min-content;
    z-index: 1;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .ContactForm_formTitle__JY_XW {
    color: #00358d;
    display: flex;
  }
  .ContactForm_formTitle__JY_XW .outline {
    -webkit-text-stroke-color: currentColor;
    -webkit-text-stroke-width: 0;
    font-style: normal;
    -webkit-text-fill-color: currentColor;
  }
  .ContactForm_formTitle__JY_XW > :first-child:first-letter {
    text-transform: uppercase;
  }
  .ContactForm_front__2A1lz {
    z-index: 9;
  }
  .ContactForm_error__9LTWF {
    color: red;
  }
  
  .Button_o-site-container__ks40o {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
  }
  @media (min-width: 48em) {
    .Button_o-site-container__ks40o {
      padding-left: calc(10 * var(--space));
      padding-right: calc(10 * var(--space));
    }
  }
  @media (min-width: 82.8125em) {
    .Button_o-site-container__ks40o {
      padding-left: calc(22 * var(--space));
      padding-right: calc(22 * var(--space));
    }
  }
  @keyframes Button_bob__3_pUe {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200%);
    }
    51% {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes Button_anti-bob__G1XfJ {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200%);
    }
    51% {
      transform: translateY(-200%);
    }
    to {
      transform: translateY(0);
    }
  }
  .Button_button__T6zT9 {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    gap: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out,
      color 0.3s ease-out;
  }
  .Button_button__T6zT9[disabled] {
    opacity: 0.4;
  }
  .Button_button__T6zT9:hover .Button_icon__Rt_Hz {
    transform: scale(1.1);
  }
  .Button_button__T6zT9:hover .Button_icon__Rt_Hz .icon {
    transform: scale(0.9);
    animation: Button_bob__3_pUe 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .Button_icon__Rt_Hz {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .Button_icon__Rt_Hz .icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .Button_icon__Rt_Hz .icon,
  .Button_titleWrapper__Glw9g {
    transition: all 0.3s ease-out;
  }
  .Button_primary__b__QL {
    color: #00358d;
    border: 0.0625rem solid #99aed1;
    border-radius: 2rem;
    padding: 0.5rem;
    gap: 1rem;
    align-items: center;
  }
  .Button_primary__b__QL .Button_titleWrapper__Glw9g {
    margin: 0 1rem;
    color: #00358d;
  }
  .Button_primary__b__QL.Button_iconButton__fsKFn .Button_titleWrapper__Glw9g {
    margin: 0 0 0 1.5rem;
  }
  .Button_primary__b__QL .Button_icon__Rt_Hz {
    padding: 0.5rem;
    background-color: #00358d;
    height: 100%;
    overflow: hidden;
    min-height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 50%;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    color: #fff;
  }
  .Button_primary__b__QL:hover {
    color: #fff;
  }
  .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
    background-color: #2086ae;
  }
  .Button_primary__b__QL:active,
  .Button_primary__b__QL:focus {
    color: #ccd6e8;
  }
  .Button_primary__b__QL:active .Button_titleWrapper__Glw9g,
  .Button_primary__b__QL:focus .Button_titleWrapper__Glw9g {
    color: #00235d;
  }
  .Button_primary__b__QL:active .Button_icon__Rt_Hz,
  .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
    background-color: #00235d;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ,
  .darkmode .Button_primary__b__QL {
    color: #fff;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL .Button_icon__Rt_Hz {
    background-color: #fff;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz .icon,
  .darkmode .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
    color: #00112e;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_titleWrapper__Glw9g,
  .darkmode .Button_primary__b__QL .Button_titleWrapper__Glw9g {
    color: #fff;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:hover,
  .darkmode .Button_primary__b__QL:hover {
    background-color: transparent;
    border: 0.0625rem solid #99aed1;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:hover .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
    background-color: #ccd6e8;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz,
  .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL:active .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
    background-color: #00358d;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz .icon,
  .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz .icon,
  .darkmode .Button_primary__b__QL:active .Button_icon__Rt_Hz .icon,
  .darkmode .Button_primary__b__QL:focus .Button_icon__Rt_Hz .icon {
    color: #fff;
  }
  .gold .Button_primary__b__QL {
    border: 0.0625rem solid #ac904c;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn {
    border: 0.0625rem solid #ffd36a;
  }
  .gold
    .Button_primary__b__QL.Button_goldLight__ZvTNn
    .Button_titleWrapper__Glw9g {
    color: #f8e2ac;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn .Button_icon__Rt_Hz {
    background-color: #ceaa53;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn .Button_icon__Rt_Hz .icon {
    color: #000;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn:hover .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn:active .Button_icon__Rt_Hz,
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn:focus .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .gold .Button_primary__b__QL .Button_titleWrapper__Glw9g {
    color: #2c2713;
  }
  .gold .Button_primary__b__QL .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
    color: #2c2713;
  }
  .gold .Button_primary__b__QL:hover {
    border: 0.0625rem solid #2c2713;
  }
  .gold .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .gold .Button_primary__b__QL:hover .Button_icon__Rt_Hz .icon {
    color: #2c2713;
  }
  .gold .Button_primary__b__QL:active,
  .gold .Button_primary__b__QL:focus {
    border: 0.0625rem solid #2c2713;
  }
  .gold .Button_primary__b__QL:active .Button_icon__Rt_Hz,
  .gold .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
    background-color: #655631;
  }
  .gold .Button_primary__b__QL:active .Button_icon__Rt_Hz .icon,
  .gold .Button_primary__b__QL:focus .Button_icon__Rt_Hz .icon {
    color: #fff;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ {
    border: 0.0625rem solid #ffd36a;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn {
    border: 0.0625rem solid #ac904c;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
    .Button_titleWrapper__Glw9g {
    color: #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
    .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
    .Button_icon__Rt_Hz
    .icon {
    color: #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover {
    border: 0.0625rem solid #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover
    .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover
    .Button_icon__Rt_Hz
    .icon {
    color: #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active,
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus {
    border: 0.0625rem solid #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active
    .Button_icon__Rt_Hz,
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus
    .Button_icon__Rt_Hz {
    background-color: #655631;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active
    .Button_icon__Rt_Hz
    .icon,
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus
    .Button_icon__Rt_Hz
    .icon {
    color: #fff;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ
    .Button_titleWrapper__Glw9g {
    color: #f8e2ac;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz {
    background-color: #ceaa53;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz .icon {
    color: #000;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ:hover .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz,
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .Icon_icon___Kgo7 {
    display: inline-block;
    height: 1.5rem;
    box-sizing: border-box;
    width: 1.5rem;
  }
  .Icon_icon___Kgo7 svg {
    display: block;
  }