/* [project]/src/app/components/Services/Stepper_section/stepperSection.module.css [app-client] (css) */
.stepperSection-module__wI8TlG__StepperCarousel_o-site-container__3947T {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_o-site-container__3947T {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .stepperSection-module__wI8TlG__StepperCarousel_o-site-container__3947T {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__qtKCt {
  grid-column: span 4;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carousel__qtKCt {
    grid-column: span 12;
  }
}

@media (width >= 71.3125em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carousel__qtKCt {
    grid-column: span 10;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__container__3P3yF {
  display: flex;
  width: 100%;
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__container__3P3yF:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__container__3P3yF:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselWrapper__v0h6t {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  max-height: fit-content;
  grid-template-columns: repeat(4, 1fr);
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselWrapper__v0h6t {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    filter: none;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb {
  margin-right: 1rem;
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all .3s ease-in-out;
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb.stepperSection-module__wI8TlG__StepperCarousel_nonActive__HUD_1 {
  opacity: .4;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb {
    min-height: unset;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - .75rem);
  }

  .stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb.stepperSection-module__wI8TlG__StepperCarousel_items-1__XEvyV {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  .stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb.stepperSection-module__wI8TlG__StepperCarousel_items-2__CrqY0 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - .5rem);
  }

  .stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb.stepperSection-module__wI8TlG__StepperCarousel_items-3__7O2vR {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33% - .666667rem);
  }

  .stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb.stepperSection-module__wI8TlG__StepperCarousel_items-4__aQ7Ni {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - .75rem);
  }

  .stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb.stepperSection-module__wI8TlG__StepperCarousel_items-5__Tuo_e {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20% - .8rem);
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__item__cYjQb:last-child .stepperSection-module__wI8TlG__StepperCarousel_indicatorWrapper__iqtoK .stepperSection-module__wI8TlG__StepperCarousel_indicatorButtonLine__8_rkL {
  display: none;
}

.stepperSection-module__wI8TlG__StepperCarousel_dotWrapper__dBBXM {
  display: flex;
  gap: .5rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  grid-column: span 4;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_dotWrapper__dBBXM {
    grid-column: span 12;
    margin-top: 2.5rem;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_dot__Af1eM {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  transition: background-color .3s ease-in-out;
  background-color: #2086ae;
  opacity: .4;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.stepperSection-module__wI8TlG__StepperCarousel_dot__Af1eM.stepperSection-module__wI8TlG__StepperCarousel_selected__TZmll {
  transition: background-color .3s ease-in-out;
  background-color: #2086ae;
  width: .75rem;
  opacity: 1;
  height: .75rem;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_dot__Af1eM {
  transition: background-color .3s ease-in-out;
  background-color: #ac904c;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_dot__Af1eM.stepperSection-module__wI8TlG__StepperCarousel_selected__TZmll {
  transition: background-color .3s ease-in-out;
  background-color: #ffd36a;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselContainer__Q0BAq {
  width: 100%;
  grid-column: span 4;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselContainer__Q0BAq {
    grid-column: span 12;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carousel__qtKCt {
  width: 100%;
  column-gap: 3rem;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg {
  display: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg {
    display: flex;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7 {
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  display: none;
  background-color: #2086ae;
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  border-radius: 50%;
  color: #fff;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7 {
    display: flex;
  }
}

@media (width >= 71.3125em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7 {
    width: 4rem;
    height: 4rem;
  }
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7 {
  background-color: #ceaa53;
  color: #1f1c16;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7:hover {
  background-color: #ffd36a;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7:active {
  background-color: #ac904c;
  color: #f8ebcb;
  transition: scale .1s ease-out;
  transform: scale(.9);
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7:disabled {
  opacity: .4;
  color: #1f1c16;
  background-color: #ceaa53;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7[disabled] {
  opacity: .4;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7.stepperSection-module__wI8TlG__StepperCarousel_prev__cBg79 .stepperSection-module__wI8TlG__icon {
  transform: rotate(180deg);
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7:hover {
  background-color: #2086ae;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7:disabled {
  opacity: .4;
  color: #fff;
  background-color: #2086ae;
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselButtonWrapper__t20mg .stepperSection-module__wI8TlG__StepperCarousel_emblabutton__V3jp7:active {
  background-color: #2086ae;
  color: #fff;
  transition: scale .1s ease-out;
  transform: scale(.9);
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselWrapper__v0h6t {
  grid-column: span 4;
  position: relative;
  z-index: 1;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselWrapper__v0h6t {
    grid-column: span 12;
    filter: none;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselHeader__6jOqV {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  z-index: 1;
  margin-bottom: 2.5rem;
  align-items: center;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselHeader__6jOqV {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    filter: none;
  }

  .stepperSection-module__wI8TlG__StepperCarousel_carouselHeader__6jOqV.stepperSection-module__wI8TlG__StepperCarousel_noTitle__R7_oT {
    margin-top: 6.5rem;
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_carouselTitle__iHkFC {
  grid-column: span 4;
  font: var(--font-heading-5);
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__StepperCarousel_carouselTitle__iHkFC {
    grid-column: span 9;
    font: var(--font-heading-3);
  }
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX {
  border-radius: 50%;
  transition: background-color .3s ease-in-out;
  position: relative;
  z-index: 1;
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX:before {
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: #ccd6e8;
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX:after, .stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX:after {
  z-index: -1;
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  transition: background-color .3s ease-in-out;
  background-color: #f6faff;
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX.stepperSection-module__wI8TlG__StepperCarousel_active__T0jkw:before {
  transition: background-color .3s ease-in-out;
  background-color: #2086ae;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX:before {
  transition: background-color .3s ease-in-out;
  background-color: #655631;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX:after {
  transition: background-color .3s ease-in-out;
  background-color: #1f1c16;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_indicatorButton__K50NX.stepperSection-module__wI8TlG__StepperCarousel_active__T0jkw:before {
  transition: background-color .3s ease-in-out;
  background-color: #ceaa53;
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorButtonLine__8_rkL {
  width: 100%;
  height: .0625rem;
  transition: background-color .3s ease-in-out;
  background-color: #ccd6e8;
  content: "";
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__StepperCarousel_indicatorButtonLine__8_rkL {
  transition: background-color .3s ease-in-out;
  background-color: #655631;
}

.stepperSection-module__wI8TlG__StepperCarousel_indicatorWrapper__iqtoK {
  display: flex;
  gap: 0;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
  position: absolute;
  top: 5.5rem;
  left: 50%;
}

.stepperSection-module__wI8TlG__Stepper_o-site-container__AOcx_ {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__Stepper_o-site-container__AOcx_ {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .stepperSection-module__wI8TlG__Stepper_o-site-container__AOcx_ {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.stepperSection-module__wI8TlG__Stepper_section__s_Und {
  position: relative;
  overflow: hidden;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__Stepper_section__s_Und .stepperSection-module__wI8TlG__Stepper_item____1Dn {
  background-color: #ceaa53;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__Stepper_section__s_Und .stepperSection-module__wI8TlG__Stepper_itemIcon__6trkX {
  background-color: #655631;
  color: #fff;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__Stepper_section__s_Und .stepperSection-module__wI8TlG__Stepper_info__udxYT, .stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__Stepper_section__s_Und .stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq .stepperSection-module__wI8TlG__Stepper_number__Syhmc, .stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__Stepper_section__s_Und .stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq .stepperSection-module__wI8TlG__Stepper_title__dXCXT {
  color: #1f1c16;
}

.stepperSection-module__wI8TlG__Stepper_container__oFfO_ {
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  grid-gap: 0;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__Stepper_container__oFfO_ {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .stepperSection-module__wI8TlG__Stepper_container__oFfO_ {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__Stepper_container__oFfO_ {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
    gap: 0;
  }
}

.stepperSection-module__wI8TlG__Stepper_containerTitleWrapper___TcKF {
  grid-column: span 4;
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__Stepper_containerTitleWrapper___TcKF {
    grid-column: span 12;
  }
}

.stepperSection-module__wI8TlG__Stepper_containerTitleWrapper___TcKF h3 {
  color: #2086ae;
  margin-left: 2rem;
  font-family: Exo_bold, sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

.stepperSection-module__wI8TlG__Stepper_stepperWrapper__Y2Scs {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

@media (width >= 48em) {
  .stepperSection-module__wI8TlG__Stepper_stepperWrapper__Y2Scs {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2.5rem;
  }
}

.stepperSection-module__wI8TlG__Stepper_item____1Dn {
  padding: 6rem 2.5rem 2.5rem;
  background-color: #fff;
  border-radius: 2.5rem;
  border-top-left-radius: 0;
  position: relative;
  box-sizing: content-box;
  box-shadow: -8px 4px 40px #00235d14;
  width: fit-content;
  height: fit-content;
}

@media (width <= 48em) {
  .stepperSection-module__wI8TlG__Stepper_item____1Dn {
    background-color: #fff;
    border-radius: 2.5rem;
    border-top-left-radius: 0;
    position: relative;
    box-shadow: -8px 4px 40px #00235d14;
    width: fit-content;
    height: fit-content;
  }
}

@media (width <= 48em) {
  .stepperSection-module__wI8TlG__Stepper_item____1Dn {
    background-color: #fff;
    border-radius: 2.5rem;
    border-top-left-radius: 0;
    position: relative;
    box-shadow: -8px 4px 40px #00235d14;
    width: fit-content;
    height: fit-content;
  }
}

.stepperSection-module__wI8TlG__Stepper_itemIcon__6trkX {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  border-bottom-right-radius: 1rem;
  background-color: #ccd6e8;
  color: #2086ae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepperSection-module__wI8TlG__Stepper_itemIcon__6trkX .stepperSection-module__wI8TlG__Stepper_icon__LMtYi {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq h3 {
  font-family: Exo, sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq h6 {
  font-family: Exo, sans-serif;
  font-size: 1.35rem;
  font-weight: 800;
}

.stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq .stepperSection-module__wI8TlG__Stepper_number__Syhmc {
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-fill-color: transparent;
  color: #2086ae;
}

.stepperSection-module__wI8TlG__Stepper_titleWrapper__oATRq .stepperSection-module__wI8TlG__Stepper_title__dXCXT {
  color: #2086ae;
}

.stepperSection-module__wI8TlG__Stepper_info__udxYT {
  font: var(--font-body-normal);
  color: #00112e;
  margin-top: .5rem;
}

.stepperSection-module__wI8TlG__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.stepperSection-module__wI8TlG__Icon_icon___Kgo7 svg {
  display: block;
}

.stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2086ae;
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  border-radius: 50%;
  color: #fff;
}

@media (width >= 71.3125em) {
  .stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE {
    width: 4rem;
    height: 4rem;
  }
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE {
  background-color: #ceaa53;
  color: #1f1c16;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE:hover {
  background-color: #ffd36a;
}

.stepperSection-module__wI8TlG__gold .stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE:active {
  background-color: #ac904c;
  color: #f8ebcb;
  transition: scale .1s ease-out;
  transform: scale(.9);
}

.stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE[disabled] {
  opacity: .4;
}

.stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE.stepperSection-module__wI8TlG__BlogCarousel_prev__vAE6w .stepperSection-module__wI8TlG__icon {
  transform: rotate(180deg);
}

.stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE:hover {
  background-color: #2086ae;
}

.stepperSection-module__wI8TlG__BlogCarousel_emblabutton__t5aLE:active {
  background-color: #2086ae;
  transition: scale .1s ease-out;
  transform: scale(.9);
}

/*# sourceMappingURL=src_app_components_Services_Stepper_section_stepperSection_module_b52d8e.css.map*/