/* [project]/src/app/components/About/ContentBox/contentbox.module.css [app-client] (css) */
.contentbox-module__nj-OPW__ContentBlock_o-site-container___temM {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_o-site-container___temM {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .contentbox-module__nj-OPW__ContentBlock_o-site-container___temM {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.contentbox-module__nj-OPW__ContentBlock_section__hC1BU {
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_section__hC1BU {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
}

.contentbox-module__nj-OPW__gold .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh:after {
  background-color: #655631;
}

.contentbox-module__nj-OPW__gold .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  background-color: #655631;
  background: radial-gradient(at bottom, #766539 0, #655631 100%);
}

.contentbox-module__nj-OPW__gold .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  border-color: #fdda89;
}

.contentbox-module__nj-OPW__gold .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  background-color: #655631;
  background: radial-gradient(at bottom, #766539 0, #655631 100%);
}

.contentbox-module__nj-OPW__gold .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB p {
  color: #f8ebcb;
}

.contentbox-module__nj-OPW__promar .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh:after {
  background-color: #00807a;
}

.contentbox-module__nj-OPW__promar .contentbox-module__nj-OPW__ContentBlock_section__hC1BU h4 {
  color: #00a099;
}

.contentbox-module__nj-OPW__promar .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  background-color: #99d9d6;
  position: relative;
}

.contentbox-module__nj-OPW__promar .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h4 {
  color: #000;
}

.contentbox-module__nj-OPW__promar .contentbox-module__nj-OPW__ContentBlock_section__hC1BU .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 1040 923\" fill=\"none\"><g style=\"mix-blend-mode:overlay\" opacity=\"0.64\" filter=\"url(%23filter0_f_3500_48006)\"><path d=\"M618.047 692.397C579.45 768.842 201.116 688.817 201.116 552.666C190.338 327.264 476.096 200 687.887 200C899.678 200 821.877 362.712 840 461.207C840 597.359 718.969 742.703 618.047 692.397Z\" fill=\"white\"/></g><defs><filter id=\"filter0_f_3500_48006\" x=\"0.820328\" y=\"0\" width=\"1039.18\" height=\"922.076\" filterUnits=\"userSpaceOnUse\" color-interpolation-filters=\"sRGB\"><feFlood flood-opacity=\"0\" result=\"BackgroundImageFix\"/><feBlend mode=\"normal\" in=\"SourceGraphic\" in2=\"BackgroundImageFix\" result=\"shape\"/><feGaussianBlur stdDeviation=\"100\" result=\"effect1_foregroundBlur_3500_48006\"/></filter></defs></svg>");
  background-repeat: no-repeat;
  z-index: -1;
}

.contentbox-module__nj-OPW__ContentBlock_container___Mv_I {
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_container___Mv_I {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .contentbox-module__nj-OPW__ContentBlock_container___Mv_I {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.contentbox-module__nj-OPW__ContentBlock_container___Mv_I.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu {
  gap: 0;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_container___Mv_I {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
  }

  .contentbox-module__nj-OPW__ContentBlock_container___Mv_I.contentbox-module__nj-OPW__ContentBlock_light__KwXli {
    padding-bottom: 7.5rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_container___Mv_I.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu {
    gap: 0;
    padding-top: 5rem;
  }
}

.contentbox-module__nj-OPW__ContentBlock_contentWrapper__rqZhG {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  gap: 0;
  align-items: flex-start;
}

.contentbox-module__nj-OPW__ContentBlock_contentWrapper__rqZhG.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu {
  gap: 0;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_contentWrapper__rqZhG {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
  }

  .contentbox-module__nj-OPW__ContentBlock_contentWrapper__rqZhG.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu {
    gap: 0;
  }
}

.contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Exo, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding-block: 2rem;
  padding-inline: 1.5rem;
  border-bottom-right-radius: 2.5rem;
  position: relative;
}

.contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB p {
  font-family: Exo, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding-block: 2rem;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
    border-bottom-right-radius: 0;
    grid-column: span 10;
  }

  .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-row: 1;
    grid-column: span 8;
    grid-column: 5 / span 8;
  }

  .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-row: 1;
    grid-column: span 8;
  }
}

.contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
  grid-column: span 4;
  overflow: hidden;
  position: relative;
  display: flex;
  isolation: isolate;
  margin-top: 1.5rem;
}

.contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: .16;
  width: 100%;
  height: 100%;
  background-color: #2086ae;
  pointer-events: none;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
    margin-top: 0;
    grid-column: span 3;
    height: auto;
    border-bottom-right-radius: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-row: 1;
    grid-column: span 4;
    margin-right: -.0625rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-row: 1;
    grid-column: span 4;
    grid-column: 9 / span 4;
    margin-left: -.0625rem;
  }
}

.contentbox-module__nj-OPW__ContentBlock_image__5kqcq {
  width: 100%;
  height: 100%;
  object-fit: cover;
  isolation: isolate;
  z-index: 0;
}

.contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
  height: 100%;
}

.contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
  border-bottom-right-radius: 2.5rem;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    border-bottom-right-radius: 6rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
  border-bottom-right-radius: unset;
  border-top-right-radius: 2.5rem;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    border-top-right-radius: 6rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  padding-block: 2rem;
  padding-inline: 1.5rem;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    padding: 3rem;
    margin-left: 3.5rem;
    border-left: .0625rem solid #6685ba;
    border-top: .0625rem solid #6685ba;
    border-top-left-radius: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    padding: 3rem;
    margin-right: 3.5rem;
    border-left: .0625rem solid #6685ba;
    border-bottom: .0625rem solid #6685ba;
    border-bottom-left-radius: 6rem;
  }
}

@media (width >= 71.3125em) {
  .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_left__vxT9B, .contentbox-module__nj-OPW__ContentBlock_default__b80JH .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    padding: 5.5rem;
  }
}

.contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_title__SwFp8 {
  font: var(--font-heading-5-semibold);
}

.contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  padding-block: 2rem;
  padding-inline: 1.5rem;
  background-color: #fff;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
    padding: 3rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column-end: 8;
    grid-column-start: 1;
    z-index: 1;
  }

  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-column-end: 5;
    grid-column-start: 13;
    z-index: 1;
    border-top-right-radius: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    border-top-left-radius: 6rem;
  }
}

@media (width >= 71.3125em) {
  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
    padding: 6rem;
  }
}

.contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
  border-top-left-radius: 2.5rem;
  grid-row: 1;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    z-index: 0;
    margin-bottom: -7.5rem;
    grid-column-end: 7;
    grid-column-start: 13;
    align-self: end;
    border-radius: 0;
    border-bottom-right-radius: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_light__KwXli .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    z-index: 0;
    margin-bottom: -7.5rem;
    grid-column-start: 1;
    grid-column-end: 6;
    align-self: end;
    border-radius: 0;
    border-bottom-left-radius: 6rem;
  }
}

.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_image__5kqcq {
  min-height: 100%;
}

.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
  border-top-left-radius: 2.5rem;
  grid-row: 1;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
    height: calc(100% + 5rem);
  }

  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column: span 6;
    grid-column: 7 / span 6;
    align-self: end;
    border-radius: 0;
    border-top-right-radius: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-column: span 5;
    grid-column: 1 / span 5;
    border-radius: 0;
    border-top-left-radius: 6rem;
    align-self: end;
  }
}

@media (width >= 71.3125em) {
  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column: span 5;
    grid-column: 8 / span 5;
  }

  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-column: span 5;
    grid-column: 1 / span 5;
  }
}

.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_title__SwFp8 {
  font: var(--font-heading-5-semibold);
}

.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  min-height: 100%;
  padding-block: 2rem;
  padding-inline: 1.5rem;
  background-color: #2086ae;
  background: radial-gradient(at bottom, #002d77 0, #2086ae 100%);
  overflow: hidden;
  color: #fff;
}

.contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h1, .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h2, .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h3, .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h4, .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h5, .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB h6 {
  color: #fff;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
    padding: 3rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column-end: 7;
    grid-column-start: 1;
    z-index: 1;
    border-bottom-left-radius: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-column-end: 6;
    grid-column-start: 13;
    z-index: 1;
    border-bottom-right-radius: 6rem;
  }
}

@media (width >= 71.3125em) {
  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
    padding: 6rem;
  }

  .contentbox-module__nj-OPW__ContentBlock_dark__NxVhu .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column-end: 8;
    grid-column-start: 1;
    z-index: 1;
    border-bottom-left-radius: 6rem;
  }
}

.contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB {
  justify-content: center;
  height: 100%;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-column: span 6;
    grid-column: 7 / span 6;
  }

  .contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_textWrapper__KsnuB.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column: span 6;
  }
}

.contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh {
  aspect-ratio: 536 / 656;
  grid-row: 1;
}

.contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh:after {
  opacity: .16;
}

.contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
  border-radius: 0;
  border-top-left-radius: 2.5rem;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    border-top-left-radius: 6rem;
  }
}

@media (width >= 48em) and (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_left__vxT9B {
    grid-column: span 5;
  }
}

.contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
  border-radius: 0;
  border-top-right-radius: 2.5rem;
}

@media (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    border-top-right-radius: 6rem;
  }
}

@media (width >= 48em) and (width >= 48em) {
  .contentbox-module__nj-OPW__ContentBlock_simple__Fgd5n .contentbox-module__nj-OPW__ContentBlock_imageWrapper__ZH9Dh.contentbox-module__nj-OPW__ContentBlock_right__izhCv {
    grid-column: span 5;
    grid-column: 8 / span 5;
  }
}

/*# sourceMappingURL=src_app_components_About_ContentBox_contentbox_module_b52d8e.css.map*/