/* [project]/src/app/components/Home/header/header.module.css [app-client] (css) */
.header-module__nI8dKq__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000;
  padding: 20px 90px;
  height: 6rem;
  position: relative;
  z-index: 1000;
  transition: background-color .3s, backdrop-filter .3s, padding .3s;
}

@media (width <= 48em) {
  .header-module__nI8dKq__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000;
    padding: 2px 8px;
    height: 6rem;
    position: relative;
    z-index: 1000;
    transition: background-color .3s, backdrop-filter .3s, padding .3s;
  }
}

.header-module__nI8dKq__logo img {
  height: 60px;
  object-fit: contain;
  transition: transform .3s;
}

.header-module__nI8dKq__logo img:hover {
  transform: scale(1.1);
}

.header-module__nI8dKq__nav {
  display: flex;
}

.header-module__nI8dKq__navLinks {
  display: flex;
  gap: 35px;
}

.header-module__nI8dKq__navLinks li {
  margin-right: 0;
}

.header-module__nI8dKq__navLinks li a {
  text-decoration: none;
  marker-start: none;
  font-weight: 800;
  color: #f0f0f0;
  font: 600 1.5rem Exo_bold, sans-serif;
  transition: color .3s, transform .3s;
}

.header-module__nI8dKq__navLinks li a:hover {
  color: #007bff;
  transform: translateY(-3px);
}

.header-module__nI8dKq__hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: #333;
  z-index: 1001;
}

.header-module__nI8dKq__cancel {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: transform .3s ease-in-out;
  z-index: 1001;
}

.header-module__nI8dKq__cancel:hover {
  transform: rotate(90deg);
}

body.header-module__nI8dKq__menu-open {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (width <= 768px) {
  .header-module__nI8dKq__hamburger {
    display: block;
  }

  .header-module__nI8dKq__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #007bff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    z-index: 999;
    overflow: hidden;
  }

  .header-module__nI8dKq__nav.header-module__nI8dKq__open {
    transform: translateX(0);
  }

  .header-module__nI8dKq__nav.header-module__nI8dKq__open .header-module__nI8dKq__cancel {
    display: block;
  }

  .header-module__nI8dKq__navLinks {
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
  }

  .header-module__nI8dKq__navLinks li a {
    font-size: 2.2rem;
    padding: 10px 0;
    transition: color .3s;
  }

  .header-module__nI8dKq__navLinks li a:hover {
    color: #007bff;
    transform: translateY(0);
  }
}

.header-module__nI8dKq__navLinks li a {
  position: relative;
}

.header-module__nI8dKq__navLinks li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width .3s;
}

.header-module__nI8dKq__navLinks li a:hover:after {
  width: 100%;
}

.header-module__nI8dKq__no-scroll {
  overflow: hidden;
  height: 100vh;
}

.header-module__nI8dKq__cross {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1100;
  color: #333;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.header-module__nI8dKq__cross:hover {
  transform: rotate(90deg);
}

.header-module__nI8dKq__flipContainer {
  position: relative;
  width: 290px;
  height: 80px;
}

.header-module__nI8dKq__logoImage {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform .6s;
  margin-top: 10px;
}

.header-module__nI8dKq__front {
  transform: rotateY(0);
}

.header-module__nI8dKq__back {
  transform: rotateY(180deg);
  width: 100%;
  height: 80%;
}

.header-module__nI8dKq__flipContainer:hover .header-module__nI8dKq__front {
  transform: rotateY(180deg);
}

.header-module__nI8dKq__flipContainer:hover .header-module__nI8dKq__back {
  transform: rotateY(0);
}

/*# sourceMappingURL=src_app_components_Home_header_header_module_b52d8e.css.map*/