/* [project]/src/app/components/Home/footer/footer.module.css [app-client] (css) */
.footer-module__u_2CLq__Footer_o-site-container__7mBjf {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_o-site-container__7mBjf {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .footer-module__u_2CLq__Footer_o-site-container__7mBjf {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.footer-module__u_2CLq__Footer_footer__EQXzy {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #2086ae;
  padding: 4rem 0 2.5rem;
  position: relative;
  gap: 6rem;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy {
  background-color: #ceaa53;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_logo__p1Zz4 .footer-module__u_2CLq__Footer_blue__Hy8ea, .footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_logo__p1Zz4 .footer-module__u_2CLq__Footer_grey__qmRgm {
  color: #000;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_privacyTerms__sz4zC, .footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_socialIcon__bQEbt {
  color: #655631;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_privacyTerms__sz4zC a:hover, .footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_socialIcon__bQEbt a:hover, .footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_socialIcon__bQEbt:hover {
  color: #1f1c16;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_navItem__DCCez {
  color: #000;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_navItem__DCCez:hover {
  color: #655631;
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy {
  background-color: #fff;
  border-top: 1px solid #66c6c2;
  border-left: 1px solid #66c6c2;
  border-top-left-radius: 6rem;
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_logo__p1Zz4, .footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_logo__p1Zz4 .footer-module__u_2CLq__blue {
  color: #00a099;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_footerTop__XBqF3, .footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_socials__9ZNZ_ {
  padding: 0;
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__Footer_privacyTerms__sz4zC, .footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__icon {
  color: #006662;
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__Footer_footer__EQXzy .footer-module__u_2CLq__icon:hover {
  color: #99d9d6;
}

.footer-module__u_2CLq__Footer_footerTop__XBqF3 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_footerTop__XBqF3 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .footer-module__u_2CLq__Footer_footerTop__XBqF3 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_footerTop__XBqF3 {
    flex-direction: row;
    gap: 6rem;
  }
}

.footer-module__u_2CLq__Footer_navWrapper__xWSoa {
  width: 100%;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_navWrapper__xWSoa {
    flex-direction: row;
    grid-column: span 5;
    grid-column: 4 / span 5;
  }
}

.footer-module__u_2CLq__Footer_navItem__DCCez {
  font: var(--font-caption-small);
  text-transform: uppercase;
  color: #99aed1;
}

.footer-module__u_2CLq__Footer_navItem__DCCez:hover {
  color: #ccd6e8;
}

.footer-module__u_2CLq__Footer_logoWrapper__P93m7 {
  grid-column: span 4;
  width: 100%;
  align-self: flex-start;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_logoWrapper__P93m7 {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.footer-module__u_2CLq__Footer_address__Cj4AX {
  grid-column: span 4;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_address__Cj4AX {
    grid-column: span 2;
    grid-column: 4 / span 2;
  }
}

.footer-module__u_2CLq__Footer_socials__9ZNZ_ {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_socials__9ZNZ_ {
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: flex-start;
    grid-column: span 5;
    grid-column: 8 / span 5;
    padding-right: 9rem;
  }
}

.footer-module__u_2CLq__Footer_socialLinks__zyHKp {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.footer-module__u_2CLq__Footer_socialLinks__zyHKp a {
  height: 1.5rem;
}

.footer-module__u_2CLq__Footer_socialIcon__bQEbt {
  color: #6685ba;
  transition: all .2s ease-out;
}

.footer-module__u_2CLq__Footer_socialIcon__bQEbt:hover {
  color: #99aed1;
}

.footer-module__u_2CLq__Footer_privacyTerms__sz4zC {
  color: #99aed1;
  font-family: Exo, sans-serif;
  font-size: medium;
  font-weight: 300;
  text-align: start;
}

.footer-module__u_2CLq__Footer_privacyTerms__sz4zC a {
  text-decoration: underline;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__Footer_privacyTerms__sz4zC {
    text-align: end;
  }
}

.footer-module__u_2CLq__Footer_privacyTerms__sz4zC a:hover {
  color: #ccd6e8;
}

.footer-module__u_2CLq__Footer_logo__p1Zz4 {
  height: 2.5rem;
  width: 100%;
}

.footer-module__u_2CLq__Footer_logo__p1Zz4 .footer-module__u_2CLq__Footer_blue__Hy8ea, .footer-module__u_2CLq__Footer_logo__p1Zz4 .footer-module__u_2CLq__Footer_grey__qmRgm {
  color: #fff;
  transition: color .3 ease-in-out;
}

.footer-module__u_2CLq__MadeBy_o-site-container__MF_pf {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .footer-module__u_2CLq__MadeBy_o-site-container__MF_pf {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .footer-module__u_2CLq__MadeBy_o-site-container__MF_pf {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.footer-module__u_2CLq__MadeBy_wrapper__hnstJ {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  z-index: 3;
  transition: all .1s ease-in-out;
  margin-top: 1rem;
}

@media (width >= 48em) {
  .footer-module__u_2CLq__MadeBy_wrapper__hnstJ {
    margin-top: 0;
    position: absolute;
    bottom: 2.5rem;
    left: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .footer-module__u_2CLq__MadeBy_wrapper__hnstJ {
    left: calc(22 * var(--space));
  }
}

.footer-module__u_2CLq__MadeBy_wrapper__hnstJ svg {
  height: 1.25rem;
  color: #6685ba;
  display: block;
  transition: all .2s ease-out;
}

.footer-module__u_2CLq__MadeBy_wrapper__hnstJ svg circle, .footer-module__u_2CLq__MadeBy_wrapper__hnstJ svg path {
  display: block;
}

.footer-module__u_2CLq__MadeBy_wrapper__hnstJ .footer-module__u_2CLq__MadeBy_text__cbSBi {
  font: var(--font-caption-small);
  text-decoration: none;
  line-height: 1;
  color: #99aed1;
  transition: all .2s ease-out;
}

.footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover, .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover .footer-module__u_2CLq__MadeBy_text__cbSBi {
  color: #ccd6e8;
}

.footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover svg {
  color: #99aed1;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__MadeBy_wrapper__hnstJ .footer-module__u_2CLq__MadeBy_text__cbSBi, .footer-module__u_2CLq__gold .footer-module__u_2CLq__MadeBy_wrapper__hnstJ svg {
  color: #655631;
}

.footer-module__u_2CLq__gold .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover, .footer-module__u_2CLq__gold .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover .footer-module__u_2CLq__MadeBy_text__cbSBi, .footer-module__u_2CLq__gold .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover svg {
  color: #1f1c16;
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__MadeBy_wrapper__hnstJ svg {
  color: #66c6c270;
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__MadeBy_wrapper__hnstJ .footer-module__u_2CLq__MadeBy_text__cbSBi {
  color: #66c6c2;
}

.footer-module__u_2CLq__promar .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover, .footer-module__u_2CLq__promar .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover .footer-module__u_2CLq__MadeBy_text__cbSBi, .footer-module__u_2CLq__promar .footer-module__u_2CLq__MadeBy_wrapper__hnstJ:hover svg {
  color: #006662;
}

.footer-module__u_2CLq__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.footer-module__u_2CLq__Icon_icon___Kgo7 svg {
  display: block;
}

/*# sourceMappingURL=src_app_components_Home_footer_footer_module_b52d8e.css.map*/