/* [project]/src/app/components/Home/contact/contactBlock.module.css [app-client] (css) */
.contactBlock-module__FbXiFW__ContactBlock_o-site-container__WO25_ {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_o-site-container__WO25_ {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .contactBlock-module__FbXiFW__ContactBlock_o-site-container__WO25_ {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw {
  position: relative;
  overflow: hidden;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_lightContent__OrbOU .contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW {
  color: #f8ebcb;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_imageWrapper__nfNkK {
  background-color: #655631;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_imageWrapper__nfNkK:before {
  opacity: .6;
  background: linear-gradient(135deg, #1f1c16, #1f1c1606);
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_imageWrapper__nfNkK .contactBlock-module__FbXiFW__ContactBlock_image___vvh_ {
  opacity: .6;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw {
  background-color: #1f1c16;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw .contactBlock-module__FbXiFW__ContactBlock_formTitle__V_RKO {
  color: #ceaa53;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw .contactBlock-module__FbXiFW__ContactBlock_label__9ONp4 {
  color: #f8e2ac;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw input, .contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw textarea {
  border-color: #f8ebcb;
  box-shadow: 4px 8px 16px #2086ae14;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw input::placeholder, .contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw textarea::placeholder {
  color: #c5ced2;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw .contactBlock-module__FbXiFW__ContactBlock_checkboxWrapper__IkIre {
  color: #c5ced2;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw .contactBlock-module__FbXiFW__ContactBlock_checkboxWrapper__IkIre a {
  color: #f8ebcb;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_form__buwDw .contactBlock-module__FbXiFW__ContactBlock_formbutton__kAcUo {
  color: #fff;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_darkContent__S8Zjx .contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW {
  color: #ceaa53;
}

.contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_closeIcon__0CFv_, .contactBlock-module__FbXiFW__gold .contactBlock-module__FbXiFW__ContactBlock_section__gp2Lw .contactBlock-module__FbXiFW__ContactBlock_darkContent__S8Zjx .contactBlock-module__FbXiFW__ContactBlock_intro__3dwEj {
  color: #f8ebcb;
}

.contactBlock-module__FbXiFW__ContactBlock_container___Ldf3 {
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  grid-gap: 0;
  gap: 0;
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_container___Ldf3 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .contactBlock-module__FbXiFW__ContactBlock_container___Ldf3 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_container___Ldf3 {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
    gap: 0;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_introWrapper__m1k2B {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  position: relative;
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_introWrapper__m1k2B {
    margin-top: 11.25rem;
    grid-column: span 8;
    grid-column: 3 / span 8;
  }
}

@media (width >= 71.3125em) {
  .contactBlock-module__FbXiFW__ContactBlock_introWrapper__m1k2B {
    gap: 0;
    grid-column: span 8;
    grid-column: 5 / span 8;
    margin-top: 11.25rem;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_darkContent__S8Zjx {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: 100%;
}

.contactBlock-module__FbXiFW__ContactBlock_darkContent__S8Zjx .contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW {
  color: #2086ae;
}

.contactBlock-module__FbXiFW__ContactBlock_darkContent__S8Zjx .contactBlock-module__FbXiFW__ContactBlock_intro__3dwEj {
  color: #00112e;
}

.contactBlock-module__FbXiFW__ContactBlock_lightContent__OrbOU {
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  position: absolute;
  -webkit-clip-path: url("#lightContactMask");
  clip-path: url("#lightContactMask");
  display: none;
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_lightContent__OrbOU {
    display: flex;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_lightMask___CChp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  min-height: 36rem;
  width: 50%;
}

.contactBlock-module__FbXiFW__ContactBlock_darkMask__o5kt7 {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  height: 100%;
  width: 50%;
}

.contactBlock-module__FbXiFW__ContactBlock_darkRect__QGI_A, .contactBlock-module__FbXiFW__ContactBlock_maskRect__60K8r {
  width: 50vw;
  height: 100%;
  min-height: 36rem;
  z-index: 1;
}

.contactBlock-module__FbXiFW__ContactBlock_imageWrapper__nfNkK {
  width: calc(100% - 4 * var(--space));
  height: 100%;
  max-height: 25rem;
  position: relative;
  border-top-right-radius: 6rem;
  overflow: hidden;
  aspect-ratio: 744 / 576;
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_imageWrapper__nfNkK {
    max-height: 100%;
    width: 50vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_imageWrapper__nfNkK:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2086ae99, #2086ae0f);
}

.contactBlock-module__FbXiFW__ContactBlock_imageMove__RoRh_ {
  height: calc(100% + 12.5rem);
}

.contactBlock-module__FbXiFW__ContactBlock_image___vvh_ {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contactBlock-module__FbXiFW__ContactBlock_content__J6k54 {
  grid-column: span 4;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_content__J6k54 {
    grid-column: span 9;
    flex-direction: row;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW {
  font-family: "", sans-serif;
  text-transform: capitalize;
  display: flex;
  gap: 2.5rem;
  align-items: flex-end;
  text-align: start;
  width: max-content;
  max-width: 85vw;
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW {
    font-family: Exo_bold, sans-serif;
    font-size: 3.5rem / 4rem;
    font-weight: 900;
    align-items: center;
  }
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW {
    font-family: Exo, sans-serif;
    font-size: 3.5rem / 4rem;
    font-weight: 900;
    align-items: center;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_title__7ZvTW p {
  font-family: Exo, sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
}

.contactBlock-module__FbXiFW__ContactBlock_iconWrapper__qtipG {
  width: 3.5rem;
  min-width: 3.5rem;
  height: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  background-color: #ffd36a;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease-out;
}

.contactBlock-module__FbXiFW__ContactBlock_iconWrapper__qtipG .contactBlock-module__FbXiFW__ContactBlock_titleIcon__4LFGI {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  color: #2086ae;
}

.contactBlock-module__FbXiFW__ContactBlock_getInTouchWrapper__5VNpf {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  min-height: 20rem;
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_getInTouchWrapper__5VNpf {
    min-height: 36rem;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_getInTouchWrapper__5VNpf:hover .contactBlock-module__FbXiFW__ContactBlock_iconWrapper__qtipG {
  transform: translateX(1rem);
  background-color: #f8e2ac;
}

.contactBlock-module__FbXiFW__ContactBlock_intro__3dwEj {
  color: #00112e;
  font-family: Exo, sans-serif;
  font-weight: 400;
  font-size: larger;
  text-align: start;
}

@media (width >= 56.25em) {
  .contactBlock-module__FbXiFW__ContactBlock_intro__3dwEj {
    margin-left: 56%;
  }
}

@media (width >= 71.3125em) {
  .contactBlock-module__FbXiFW__ContactBlock_intro__3dwEj {
    margin-left: 50%;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_textWrapper__MJDxU {
  grid-column: span 4;
  margin-top: 1rem;
  font: var(--font-lead-small);
  color: #fff;
}

@media (width >= 71.3125em) {
  .contactBlock-module__FbXiFW__ContactBlock_textWrapper__MJDxU {
    grid-column: span 6;
    margin-top: 5rem;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_button__Rk_de {
  margin-top: 1.5rem;
}

.contactBlock-module__FbXiFW__ContactBlock_form__buwDw {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  padding: 1.5rem;
  position: relative;
  background-color: #fff;
  border-radius: 2.5rem;
  border-bottom-right-radius: 0;
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_form__buwDw {
    border-radius: 5rem;
    border-bottom-right-radius: 0;
    grid-column: span 7;
    grid-column: 7 / span 7;
    padding: 4rem;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_formRow__WBmyD {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: stretch;
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_formRow__WBmyD {
    flex-direction: row;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_formItem__KgmyI {
  gap: .5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactBlock-module__FbXiFW__ContactBlock_formItem__KgmyI .contactBlock-module__FbXiFW__ContactBlock_label__9ONp4 {
  font: var(--font-label-large);
  color: #6685ba;
  margin-left: .75rem;
}

.contactBlock-module__FbXiFW__ContactBlock_input__GY0Gm, .contactBlock-module__FbXiFW__ContactBlock_textarea__Lmhia {
  background-color: #0000;
  border: .0625rem solid #6685ba;
  padding: .75rem;
  border-radius: .75rem;
  width: 100%;
  color: #2086ae;
}

.contactBlock-module__FbXiFW__ContactBlock_input__GY0Gm::placeholder, .contactBlock-module__FbXiFW__ContactBlock_textarea__Lmhia::placeholder {
  color: #99aed1;
}

.contactBlock-module__FbXiFW__ContactBlock_checkboxWrapper__IkIre {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #2086ae;
  gap: .375rem;
}

.contactBlock-module__FbXiFW__ContactBlock_checkboxWrapper__IkIre .contactBlock-module__FbXiFW__ContactBlock_checkbox__8J8ke {
  margin: 0 .75rem 0 0;
}

.contactBlock-module__FbXiFW__ContactBlock_checkboxWrapper__IkIre a {
  color: #6685ba;
  text-decoration: underline;
}

.contactBlock-module__FbXiFW__ContactBlock_checkboxWrapper__IkIre a:hover {
  color: #2086ae;
}

.contactBlock-module__FbXiFW__ContactBlock_formbutton__kAcUo {
  width: min-content;
  z-index: 1;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

.contactBlock-module__FbXiFW__ContactBlock_formTitle__V_RKO {
  color: #2086ae;
  display: flex;
}

.contactBlock-module__FbXiFW__ContactBlock_formTitle__V_RKO .contactBlock-module__FbXiFW__outline {
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 0;
  font-style: normal;
  -webkit-text-fill-color: currentColor;
}

.contactBlock-module__FbXiFW__ContactBlock_formTitle__V_RKO > :first-child:first-letter {
  text-transform: uppercase;
}

.contactBlock-module__FbXiFW__ContactBlock_modal__pVZlq {
  position: fixed;
  top: 50%;
  min-width: calc(100% - 16 * var(--space));
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 80vh;
  z-index: 9999;
}

@media (width >= 48em) {
  .contactBlock-module__FbXiFW__ContactBlock_modal__pVZlq {
    min-width: max-content;
    max-width: 80vw;
  }
}

.contactBlock-module__FbXiFW__ContactBlock_modalBackground__fgVWc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #0006;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.contactBlock-module__FbXiFW__ContactBlock_closeWrapper__8sHiY {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.contactBlock-module__FbXiFW__ContactBlock_closeWrapper__8sHiY .contactBlock-module__FbXiFW__ContactBlock_closeIcon__0CFv_ {
  width: 1.5rem;
  height: 1.5rem;
}

.contactBlock-module__FbXiFW__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.contactBlock-module__FbXiFW__Icon_icon___Kgo7 svg {
  display: block;
}

/*# sourceMappingURL=src_app_components_Home_contact_contactBlock_module_b52d8e.css.map*/