/* [project]/src/app/components/Home/imagewrap/imagewrap.module.css [app-client] (css) */
.imagewrap-module__q81Ugq__CtaBlock_o-site-container__EBaL9 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_o-site-container__EBaL9 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .imagewrap-module__q81Ugq__CtaBlock_o-site-container__EBaL9 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  position: relative;
  min-height: 100%;
  margin-block: 5rem;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 {
    margin-block: 7.5rem;
  }
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 .imagewrap-module__q81Ugq__CtaBlock_title__enemh {
  color: #ceaa53;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 .imagewrap-module__q81Ugq__CtaBlock_info__DVPeC {
  color: #ffd36a;
}

.imagewrap-module__q81Ugq__CtaBlock_container__nHh2p {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  margin: 2.5rem 0;
  grid-gap: 2.5rem;
  gap: 2.5rem;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_container__nHh2p {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    margin: 5rem 0;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_content__87Op8 {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 {
    align-self: center;
    grid-row: 1;
  }

  .imagewrap-module__q81Ugq__CtaBlock_content__87Op8.imagewrap-module__q81Ugq__CtaBlock_right__cyR7S {
    grid-column: span 5;
    grid-column: 1 / span 5;
  }
}

@media (width >= 48em) and (width >= 71.3125em) {
  .imagewrap-module__q81Ugq__CtaBlock_content__87Op8.imagewrap-module__q81Ugq__CtaBlock_right__cyR7S {
    grid-column: span 5;
    grid-column: 2 / span 5;
  }
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_content__87Op8.imagewrap-module__q81Ugq__CtaBlock_left__m_YMo {
    grid-column: span 6;
    grid-column: 7 / span 6;
  }
}

@media (width >= 48em) and (width >= 71.3125em) {
  .imagewrap-module__q81Ugq__CtaBlock_content__87Op8.imagewrap-module__q81Ugq__CtaBlock_left__m_YMo {
    grid-column: span 5;
    grid-column: 8 / span 5;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_title__enemh {
  font-family: SchibstedGrotesk_Medium, sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: #00235d;
}

.imagewrap-module__q81Ugq__CtaBlock_info__DVPeC {
  margin-bottom: 1.5rem;
  color: #00112e;
  font-family: SchibstedGrotesk_Medium, sans-serif;
  font-size: 1.35rem;
  line-height: 1.875rem;
  font-weight: 500;
}

.imagewrap-module__q81Ugq__CtaBlock_videoWrapper__ZHqAx {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-row: 1;
  grid-column: span 4;
  position: relative;
  background-color: #fff;
  transition: all .3s ease-out;
  overflow: visible;
  border-top-left-radius: 2.5rem;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__CtaBlock_videoWrapper__ZHqAx {
  background-color: #2c2713;
  transition: all .3s ease-out;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_videoWrapper__ZHqAx {
    width: 100%;
    max-width: 512px;
  }

  .imagewrap-module__q81Ugq__CtaBlock_videoWrapper__ZHqAx.imagewrap-module__q81Ugq__CtaBlock_right__cyR7S {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: unset;
    border-top-left-radius: 6rem;
    grid-column: span 5;
    grid-column: 8 / span 5;
  }

  .imagewrap-module__q81Ugq__CtaBlock_videoWrapper__ZHqAx.imagewrap-module__q81Ugq__CtaBlock_left__m_YMo {
    overflow: visible;
    border-top-left-radius: unset;
    border-top-right-radius: 6rem;
    border-bottom-right-radius: unset;
    grid-column: span 5;
    grid-column: 2 / span 5;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_imageWrapper__d_ZrU {
  grid-row: 1;
  grid-column: span 4;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom-right-radius: 2.5rem;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_imageWrapper__d_ZrU.imagewrap-module__q81Ugq__CtaBlock_right__cyR7S {
    overflow: hidden;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: 6rem;
    grid-column: span 5;
    grid-column: 8 / span 5;
  }

  .imagewrap-module__q81Ugq__CtaBlock_imageWrapper__d_ZrU.imagewrap-module__q81Ugq__CtaBlock_left__m_YMo {
    overflow: hidden;
    border-bottom-right-radius: 6rem;
    grid-column: span 5;
    grid-column: 1 / span 5;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_image__ZWyx1 {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (width >= 71.3125em) {
  .imagewrap-module__q81Ugq__CtaBlock_image__ZWyx1 {
    width: 100%;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_imageAnimWrapper__8yppU {
  height: 100%;
}

.imagewrap-module__q81Ugq__CtaBlock_videoAnimWrapper__MFcyz {
  height: 100%;
  aspect-ratio: 968 / 847;
  width: 100%;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_videoAnimWrapper__MFcyz {
    aspect-ratio: 968 / 847;
  }
}

@media (width >= 71.3125em) {
  .imagewrap-module__q81Ugq__CtaBlock_videoAnimWrapper__MFcyz {
    min-height: 528px;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_secondaryImageAnimWrapper__rsqz3 {
  height: 100%;
  min-height: 26.25rem;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_secondaryImageAnimWrapper__rsqz3 {
    min-height: 448px;
  }
}

@media (width >= 71.3125em) {
  .imagewrap-module__q81Ugq__CtaBlock_secondaryImageAnimWrapper__rsqz3 {
    min-height: 528px;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_secondaryImage__NSFSe {
  width: 120%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  vertical-align: top;
}

.imagewrap-module__q81Ugq__CtaBlock_CargoTruck__2gjEY {
  position: relative;
  left: 27.5%;
  transition: all .2s ease-out;
}

.imagewrap-module__q81Ugq__CtaBlock_inactive__UBkTw {
  transform: translateX(-100%);
  animation: .6s cubic-bezier(.39, .575, .565, 1) forwards imagewrap-module__q81Ugq__CtaBlock_toLeft__PJNZ6;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_inactive__UBkTw {
    transform: translateY(-100%);
    animation: .6s cubic-bezier(.39, .575, .565, 1) forwards imagewrap-module__q81Ugq__CtaBlock_toTop__YOw4U;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_active__t5HIF {
  transform: translateX(0);
  animation: .6s cubic-bezier(.39, .575, .565, 1) forwards imagewrap-module__q81Ugq__CtaBlock_fromRight__pmZrF;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_active__t5HIF {
    transform: translateY(0);
    animation: .6s cubic-bezier(.39, .575, .565, 1) forwards imagewrap-module__q81Ugq__CtaBlock_fromBottom__FP36m;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_CargoBarging__2X_Yi {
  position: relative;
  left: 8%;
}

.imagewrap-module__q81Ugq__CtaBlock_video__xkBJd {
  width: 100%;
  max-height: remm(847px);
  max-width: remm(968px);
  aspect-ratio: 968 / 847;
  height: auto;
  position: absolute;
  left: 12.5%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: fill;
  vertical-align: top;
}

.imagewrap-module__q81Ugq__CtaBlock_video__image__RLW28 {
  width: 125%;
  left: -12.5%;
  height: auto;
  aspect-ratio: 968 / 847;
  position: relative;
}

.imagewrap-module__q81Ugq__CtaBlock_animatedVideo__KIFx4 {
  object-fit: fill;
  position: absolute;
  height: auto;
  width: 120%;
  top: 16%;
}

.imagewrap-module__q81Ugq__CtaBlock_animatedVideo__KIFx4 video {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_animatedVideo__KIFx4 {
    top: 0;
    width: 160%;
    left: -32%;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_animatedImage__AL5Rq {
  object-fit: fill;
  position: absolute;
  top: 15%;
  height: auto;
  width: 100%;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_animatedImage__AL5Rq {
    top: 28%;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_animatedImage__AL5Rq.imagewrap-module__q81Ugq__CtaBlock___Flooring__JBc5r {
  top: 34%;
  left: -4%;
}

@media (width >= 30em) {
  .imagewrap-module__q81Ugq__CtaBlock_animatedImage__AL5Rq.imagewrap-module__q81Ugq__CtaBlock___Flooring__JBc5r {
    left: -4%;
  }
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_animatedImage__AL5Rq {
    top: 0;
    width: 142%;
    left: -24%;
  }

  .imagewrap-module__q81Ugq__CtaBlock_animatedImage__AL5Rq.imagewrap-module__q81Ugq__CtaBlock___Flooring__JBc5r {
    top: 0;
    left: -40%;
  }

  .imagewrap-module__q81Ugq__CtaBlock_default__4hQ8L .imagewrap-module__q81Ugq__CtaBlock_imageWrapper__d_ZrU {
    overflow: hidden;
  }

  .imagewrap-module__q81Ugq__CtaBlock_default__4hQ8L .imagewrap-module__q81Ugq__CtaBlock_imageWrapper__d_ZrU.imagewrap-module__q81Ugq__CtaBlock_right__cyR7S {
    border-radius: 0;
    border-bottom-left-radius: 6rem;
  }

  .imagewrap-module__q81Ugq__CtaBlock_default__4hQ8L .imagewrap-module__q81Ugq__CtaBlock_imageWrapper__d_ZrU.imagewrap-module__q81Ugq__CtaBlock_left__m_YMo {
    border-radius: 0;
    border-bottom-right-radius: 6rem;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 {
  overflow-x: visible;
  overflow-y: visible;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 {
    overflow-y: hidden;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_videoWrapper__ZHqAx {
  background-color: #0000;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3.imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 {
    margin-block: 11.5rem;
  }
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3.imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 .imagewrap-module__q81Ugq__CtaBlock_title__enemh {
  color: #1f1c16;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3.imagewrap-module__q81Ugq__CtaBlock_section__bNFj7 .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 .imagewrap-module__q81Ugq__CtaBlock_info__DVPeC {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 {
  padding-bottom: 2rem;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_content__87Op8 {
    padding-bottom: 0;
  }
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_background__Goley {
  background-color: #ceaa53;
  background: radial-gradient(#d9be7b 0, #ceaa53 100%);
}

.imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_background__Goley {
  position: absolute;
  z-index: -1;
  background-color: #00235d;
  background: radial-gradient(#003690 0, #00235d 100%);
  height: 60%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_background__Goley {
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 72%;
    height: 100%;
    border-radius: 0;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
  }
}

.imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_info__DVPeC, .imagewrap-module__q81Ugq__CtaBlock_dark__Vqkj3 .imagewrap-module__q81Ugq__CtaBlock_title__enemh {
  color: #fff;
}

@keyframes imagewrap-module__q81Ugq__CtaBlock_toTop__YOw4U {
  0% {
    transition: all .4s ease-out;
    transform: translateY(0)scale(1);
    opacity: 1;
  }

  25% {
    opacity: 0;
    transition: all .4s ease-out;
  }

  to {
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease-out;
    transform: translateY(-100%)scale(.5);
  }
}

@keyframes imagewrap-module__q81Ugq__CtaBlock_toLeft__PJNZ6 {
  0% {
    transition: all .4s ease-out;
    transform: translateX(0)scale(1);
    opacity: 1;
  }

  25% {
    opacity: 0;
    transition: all .4s ease-out;
  }

  to {
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease-out;
    transform: translateX(-100%)scale(.5);
  }
}

@keyframes imagewrap-module__q81Ugq__CtaBlock_fromBottom__FP36m {
  0% {
    opacity: 0;
    transition: all .6s ease-out;
    transform: translateY(100%)scale(1);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transition: all .6s ease-out;
    transform: translateY(0)scale(1);
  }
}

@keyframes imagewrap-module__q81Ugq__CtaBlock_fromRight__pmZrF {
  0% {
    opacity: 0;
    transition: all .6s ease-out;
    transform: translateX(100%)scale(1);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transition: all .6s ease-out;
    transform: translateX(0)scale(1);
  }
}

.imagewrap-module__q81Ugq__Button_o-site-container__ks40o {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .imagewrap-module__q81Ugq__Button_o-site-container__ks40o {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .imagewrap-module__q81Ugq__Button_o-site-container__ks40o {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@keyframes imagewrap-module__q81Ugq__Button_bob__3_pUe {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200%);
  }

  51% {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes imagewrap-module__q81Ugq__Button_anti-bob__G1XfJ {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200%);
  }

  51% {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

.imagewrap-module__q81Ugq__Button_button__T6zT9 {
  font-family: Exo, sans-serif;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: background-color .3s ease-out, transform .3s ease-out, color .3s ease-out;
}

.imagewrap-module__q81Ugq__Button_button__T6zT9[disabled] {
  opacity: .4;
}

.imagewrap-module__q81Ugq__Button_button__T6zT9:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  transform: scale(1.1);
}

.imagewrap-module__q81Ugq__Button_button__T6zT9:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  transform: scale(.9);
  animation: 1s cubic-bezier(.785, .135, .15, .86) imagewrap-module__q81Ugq__Button_bob__3_pUe;
}

.imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
  overflow: hidden;
}

.imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  transition: all .3s ease-out;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL {
  color: #00358d;
  border: .0625rem solid #99aed1;
  border-radius: 2rem;
  padding: .5rem;
  gap: 1rem;
  align-items: center;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  margin: 0 1rem;
  color: #00358d;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_iconButton__fsKFn .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  margin: 0 0 0 1.5rem;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  padding: .5rem;
  background-color: #00358d;
  height: 100%;
  overflow: hidden;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL:hover {
  color: #fff;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL:active, .imagewrap-module__q81Ugq__Button_primary__b__QL:focus {
  color: #ccd6e8;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL:active .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g, .imagewrap-module__q81Ugq__Button_primary__b__QL:focus .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  color: #00235d;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__Button_primary__b__QL:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #00235d;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL {
  color: #fff;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #fff;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #00112e;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  color: #fff;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:hover, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL:hover {
  background-color: #0000;
  border: .0625rem solid #99aed1;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ccd6e8;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #00358d;
}

.imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__darkmode .imagewrap-module__q81Ugq__Button_primary__b__QL:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #fff;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL {
  border: .0625rem solid #ac904c;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn {
  border: .0625rem solid #ffd36a;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #000;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:hover {
  border: .0625rem solid #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:active, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:focus {
  border: .0625rem solid #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #655631;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #fff;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ {
  border: .0625rem solid #ffd36a;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn {
  border: .0625rem solid #ac904c;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:hover {
  border: .0625rem solid #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:active, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:focus {
  border: .0625rem solid #2c2713;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #655631;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ.imagewrap-module__q81Ugq__Button_goldLight__ZvTNn:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #fff;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ .imagewrap-module__q81Ugq__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ .imagewrap-module__q81Ugq__Button_icon__Rt_Hz .imagewrap-module__q81Ugq__icon {
  color: #000;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:hover .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:active .imagewrap-module__q81Ugq__Button_icon__Rt_Hz, .imagewrap-module__q81Ugq__gold .imagewrap-module__q81Ugq__Button_primary__b__QL.imagewrap-module__q81Ugq__Button_darkmode__ozqJQ:focus .imagewrap-module__q81Ugq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.imagewrap-module__q81Ugq__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.imagewrap-module__q81Ugq__Icon_icon___Kgo7 svg {
  display: block;
}

/*# sourceMappingURL=src_app_components_Home_imagewrap_imagewrap_module_b52d8e.css.map*/