/* [project]/src/app/components/Home/Blog/blog.module.css [app-client] (css) */
.blog-module__WDTRSq__BlogCard_o-site-container__ysDV0 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCard_o-site-container__ysDV0 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .blog-module__WDTRSq__BlogCard_o-site-container__ysDV0 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.blog-module__WDTRSq__BlogCard_blogCard__7OcFE {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: -8px 4px 40px #00235d14;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-right-radius: 2.5rem;
  isolation: isolate;
}

.blog-module__WDTRSq__BlogCard_blogCard__7OcFE .blog-module__WDTRSq__BlogCard_title__az94E {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
  text-decoration-color: #fff;
}

.blog-module__WDTRSq__BlogCard_blogCard__7OcFE:hover .blog-module__WDTRSq__BlogCard_image__sKQlk {
  transition: all .3s cubic-bezier(.25, .46, .45, .94);
  transform: scale(1.05);
  opacity: .9;
}

.blog-module__WDTRSq__BlogCard_blogCard__7OcFE:hover .blog-module__WDTRSq__BlogCard_title__az94E {
  transition: all .3s ease-out;
  text-decoration: underline;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_blogCard__7OcFE {
  background-color: #f8e2ac;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_blogCard__7OcFE .blog-module__WDTRSq__BlogCard_title__az94E {
  color: #1f1c16;
  text-decoration: underline;
  -webkit-text-decoration-color: #f8e2ac;
  text-decoration-color: #f8e2ac;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_blogCard__7OcFE .blog-module__WDTRSq__BlogCard_info__qswUS {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_blogCard__7OcFE .blog-module__WDTRSq__BlogCard_category__kyHao {
  background-color: #655631;
  color: #f8ebcb;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_blogCard__7OcFE:hover .blog-module__WDTRSq__BlogCard_title__az94E {
  transition: all .3s ease-out;
  text-decoration: underline;
}

.blog-module__WDTRSq__BlogCard_link__jtBXR {
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
}

.blog-module__WDTRSq__BlogCard_blogCardImage__vIK8k {
  width: 100%;
  height: auto;
  min-height: 15.125rem;
  object-fit: cover;
  aspect-ratio: 424 / 290;
  position: relative;
  overflow: hidden;
}

.blog-module__WDTRSq__BlogCard_category__kyHao {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00112e;
  padding: .75rem 1rem;
  border-bottom-right-radius: .5rem;
  font: var(--font-label-small);
  text-transform: uppercase;
  color: #ccd6e8;
  z-index: 1;
}

.blog-module__WDTRSq__BlogCard_image__sKQlk {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  transition: all .3s cubic-bezier(.25, .46, .45, .94);
}

.blog-module__WDTRSq__BlogCard_textWrapper__DaUK1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: #00112e;
  height: 100%;
}

.blog-module__WDTRSq__BlogCard_title__az94E {
  color: #00358d;
  font-family: Exo_bold, sans-serif;
  font-weight: 100;
  font-size: large;
}

.blog-module__WDTRSq__BlogCard_info__qswUS {
  font-family: Exo, serif;
  font-weight: lighter;
  max-height: 4.5rem;
  overflow: hidden;
}

@supports (-webkit-line-clamp: 3) {
  .blog-module__WDTRSq__BlogCard_info__qswUS {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
  }
}

.blog-module__WDTRSq__BlogCard_articleMeta__cxC2L {
  font-family: Exo, sans-serif;
  font-size: smaller;
  color: #99aed1;
  display: flex;
  margin-top: auto;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_articleMeta__cxC2L {
  color: #655631;
}

.blog-module__WDTRSq__BlogCard_meta__kiRaW {
  display: flex;
  gap: .5rem;
  align-items: center;
  font: var(--font-caption-small);
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.blog-module__WDTRSq__BlogCard_meta__kiRaW .blog-module__WDTRSq__BlogCard_icon___0PpG {
  width: 1rem;
  height: 1rem;
}

.blog-module__WDTRSq__BlogCard_meta__kiRaW + .blog-module__WDTRSq__BlogCard_meta__kiRaW {
  padding-left: 1rem;
  margin-left: 1rem;
}

.blog-module__WDTRSq__BlogCard_meta__kiRaW + .blog-module__WDTRSq__BlogCard_meta__kiRaW:before {
  content: "";
  display: block;
  width: .0625rem;
  height: 1rem;
  background-color: #ccd6e8;
  margin-left: -1rem;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCard_meta__kiRaW + .blog-module__WDTRSq__BlogCard_meta__kiRaW:before {
  background-color: #655631;
}

.blog-module__WDTRSq__BlogCarousel_o-site-container__eLHAm {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_o-site-container__eLHAm {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .blog-module__WDTRSq__BlogCarousel_o-site-container__eLHAm {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.blog-module__WDTRSq__BlogCarousel_carousel__Hv9rA {
  width: 100%;
  margin-top: 6rem;
}

.blog-module__WDTRSq__BlogCarousel_carousel__container__CdeDd {
  display: flex;
  width: 100%;
}

.blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P {
  margin-right: 1rem;
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all .3s ease-in-out;
}

.blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P.blog-module__WDTRSq__BlogCarousel_nonActive__Z2HzT {
  opacity: 1;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P {
    min-height: unset;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - .75rem);
  }

  .blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P.blog-module__WDTRSq__BlogCarousel_items-1__sqgIQ {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  .blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P.blog-module__WDTRSq__BlogCarousel_items-2__sTh3k {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - .5rem);
  }

  .blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P.blog-module__WDTRSq__BlogCarousel_items-3__STurY {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33% - .666667rem);
  }

  .blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P.blog-module__WDTRSq__BlogCarousel_items-4__cRqVx {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - .75rem);
  }

  .blog-module__WDTRSq__BlogCarousel_carousel__item__X2F2P.blog-module__WDTRSq__BlogCarousel_items-5__MkdgL {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(20% - .8rem);
  }
}

.blog-module__WDTRSq__BlogCarousel_dotWrapper__jjI04 {
  display: flex;
  gap: .5rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_dotWrapper__jjI04 {
    margin-top: 2.5rem;
  }
}

.blog-module__WDTRSq__BlogCarousel_dot__aDzeM {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #ccd6e8;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.blog-module__WDTRSq__BlogCarousel_dot__aDzeM.blog-module__WDTRSq__BlogCarousel_selected__bCQv7 {
  background-color: #fff;
  width: .75rem;
  height: .75rem;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCarousel_dot__aDzeM {
  background-color: #ac904c;
  opacity: .64;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCarousel_dot__aDzeM.blog-module__WDTRSq__BlogCarousel_selected__bCQv7 {
  opacity: 1;
  background-color: #ffd36a;
}

.blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #00358d;
  transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
  border-radius: 50%;
  color: #fff;
}

@media (width >= 71.3125em) {
  .blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE {
    width: 4rem;
    height: 4rem;
  }
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE {
  background-color: #ceaa53;
  color: #1f1c16;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE:hover {
  background-color: #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE:active {
  background-color: #ac904c;
  color: #f8ebcb;
  transition: scale .1s ease-out;
  transform: scale(.9);
}

.blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE[disabled] {
  opacity: .4;
}

.blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE.blog-module__WDTRSq__BlogCarousel_prev__vAE6w .blog-module__WDTRSq__icon {
  transform: rotate(180deg);
}

.blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE:hover {
  background-color: #335da3;
}

.blog-module__WDTRSq__BlogCarousel_emblabutton__t5aLE:active {
  background-color: #00235d;
  transition: scale .1s ease-out;
  transform: scale(.9);
}

.blog-module__WDTRSq__BlogCarousel_carousel__Hv9rA {
  width: 96%;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_carousel__Hv9rA {
    width: 100%;
  }
}

.blog-module__WDTRSq__BlogCarousel_carouselWrapper__ulveD {
  grid-column: span 4;
  position: relative;
  z-index: 1;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_carouselWrapper__ulveD {
    grid-column: span 12;
    filter: none;
  }
}

.blog-module__WDTRSq__BlogCarousel_carouselHeader__AShub {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  z-index: 1;
  margin-bottom: 2.5rem;
  align-items: center;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_carouselHeader__AShub {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    filter: none;
  }

  .blog-module__WDTRSq__BlogCarousel_carouselHeader__AShub.blog-module__WDTRSq__BlogCarousel_noTitle__6X3On {
    margin-top: -6.5rem;
  }
}

.blog-module__WDTRSq__BlogCarousel_carouselTitle__vRiuu {
  grid-column: span 4;
  font: var(--font-heading-5);
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_carouselTitle__vRiuu {
    grid-column: span 9;
    font: var(--font-heading-3);
  }
}

.blog-module__WDTRSq__BlogCarousel_carouselButtonWrapper__i4KNb {
  display: none;
  grid-column: span 4;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  position: absolute;
  top: -6rem;
  right: 0;
  width: auto;
  margin: 0 -1rem;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogCarousel_carouselButtonWrapper__i4KNb {
    display: flex;
    margin: 0;
    padding: 0 1.5rem;
    grid-column: span 3;
    top: -6rem;
  }
}

.blog-module__WDTRSq__BlogBlock_o-site-container__8K84H {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_o-site-container__8K84H {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .blog-module__WDTRSq__BlogBlock_o-site-container__8K84H {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.blog-module__WDTRSq__BlogBlock_section__rcDP8 {
  overflow: hidden;
  min-height: 100%;
  margin-block: 5rem;
  position: relative;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_section__rcDP8 {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
  }
}

@media (width >= 48em) and (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_section__rcDP8 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 48em) and (width >= 82.8125em) {
  .blog-module__WDTRSq__BlogBlock_section__rcDP8 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogBlock_section__rcDP8 .blog-module__WDTRSq__BlogBlock_titleLarge__wPU7i, .blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogBlock_section__rcDP8 .blog-module__WDTRSq__BlogBlock_titleSmall__VvSfo {
  color: #1f1c16;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogBlock_section__rcDP8 .blog-module__WDTRSq__BlogBlock_container__uZmM4:after {
  background: #fee691;
  background: linear-gradient(120deg, #fee691, #ceaa53 75%);
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__BlogBlock_section__rcDP8 .blog-module__WDTRSq__BlogBlock_contentContainer__cKm_G:after {
  background: linear-gradient(#655631, #1f1c16);
}

.blog-module__WDTRSq__BlogBlock_container__uZmM4 {
  padding-inline: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  grid-gap: 0;
  gap: 0;
}

.blog-module__WDTRSq__BlogBlock_container__uZmM4:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(0)translateY(-50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #00235d;
  background: radial-gradient(at bottom, #003690 0, #00235d 100%);
  transition: background-color .3s ease-in-out;
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_container__uZmM4:after {
    width: 75vw;
    top: 50%;
    left: 25%;
    transform: translateX(-50%)translateY(-50%);
  }

  .blog-module__WDTRSq__BlogBlock_container__uZmM4 {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
    gap: 0;
  }
}

.blog-module__WDTRSq__BlogBlock_contentContainer__cKm_G {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  flex-direction: column;
  height: min-content;
  z-index: 4;
  position: relative;
  width: 100%;
  padding-bottom: 2.5rem;
  padding-block: 5rem;
  grid-gap: 0;
  gap: 0;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_contentContainer__cKm_G {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding-block: 6rem;
    grid-gap: 0;
    gap: 0;
  }
}

.blog-module__WDTRSq__BlogBlock_textContent__JN2ro {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  color: #fff;
  height: min-content;
  position: relative;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_textContent__JN2ro {
    grid-column: span 8;
  }
}

.blog-module__WDTRSq__BlogBlock_titleSmall__VvSfo {
  text-transform: uppercase;
  font-family: SchibstedGrotesk_Medium, sans-serif;
  font-weight: 400;
}

.blog-module__WDTRSq__BlogBlock_titleLarge__wPU7i {
  font-family: Exo, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.blog-module__WDTRSq__BlogBlock_button__8zJky {
  position: relative;
  z-index: 30;
  margin-top: 1.5rem;
}

.blog-module__WDTRSq__BlogBlock_blogWrapper__Jvbdh {
  grid-column: span 4;
  z-index: 3;
  margin-top: -3.5rem;
}

@media (width >= 48em) {
  .blog-module__WDTRSq__BlogBlock_blogWrapper__Jvbdh {
    grid-column: span 12;
  }
}

.blog-module__WDTRSq__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.blog-module__WDTRSq__Icon_icon___Kgo7 svg {
  display: block;
}

.blog-module__WDTRSq__AboutBlock_button__gGFFn {
  align-self: flex-end;
}

.blog-module__WDTRSq__AboutBlock_iconWrapper__JivBc {
  position: absolute;
  top: -2.5rem;
  left: 0;
  padding: 1.5rem;
  background-color: #fff;
  border-top-right-radius: 1rem;
}

.blog-module__WDTRSq__AboutBlock_iconWrapper__JivBc .blog-module__WDTRSq__AboutBlock_icon__lsHnW {
  color: #00358d;
}

.blog-module__WDTRSq__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.blog-module__WDTRSq__Icon_icon___Kgo7 svg {
  display: block;
}

@keyframes blog-module__WDTRSq__Button_bob__3_pUe {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200%);
  }

  51% {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes blog-module__WDTRSq__Button_anti-bob__G1XfJ {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200%);
  }

  51% {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

.blog-module__WDTRSq__Button_button__T6zT9 {
  font: var(--font-label-large);
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: background-color .3s ease-out, transform .3s ease-out, color .3s ease-out;
}

.blog-module__WDTRSq__Button_button__T6zT9[disabled] {
  opacity: .4;
}

.blog-module__WDTRSq__Button_button__T6zT9:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  transform: scale(1.1);
}

.blog-module__WDTRSq__Button_button__T6zT9:hover .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  transform: scale(.9);
  animation: 1s cubic-bezier(.785, .135, .15, .86) blog-module__WDTRSq__Button_bob__3_pUe;
}

.blog-module__WDTRSq__Button_icon__Rt_Hz {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
  overflow: hidden;
}

.blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  transition: all .3s ease-out;
}

.blog-module__WDTRSq__Button_primary__b__QL {
  color: #00358d;
  border: .0625rem solid #99aed1;
  border-radius: 2rem;
  padding: .5rem;
  gap: 1rem;
  align-items: center;
}

.blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  margin: 0 1rem;
  color: #00358d;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_iconButton__fsKFn .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  margin: 0 0 0 1.5rem;
}

.blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_icon__Rt_Hz {
  padding: .5rem;
  background-color: #00358d;
  height: 100%;
  overflow: hidden;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}

.blog-module__WDTRSq__Button_primary__b__QL:hover {
  color: #fff;
}

.blog-module__WDTRSq__Button_primary__b__QL:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #335da3;
}

.blog-module__WDTRSq__Button_primary__b__QL:active, .blog-module__WDTRSq__Button_primary__b__QL:focus {
  color: #ccd6e8;
}

.blog-module__WDTRSq__Button_primary__b__QL:active .blog-module__WDTRSq__Button_titleWrapper__Glw9g, .blog-module__WDTRSq__Button_primary__b__QL:focus .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  color: #00235d;
}

.blog-module__WDTRSq__Button_primary__b__QL:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__Button_primary__b__QL:focus .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #00235d;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL {
  color: #fff;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #fff;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #00112e;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ .blog-module__WDTRSq__Button_titleWrapper__Glw9g, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  color: #fff;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:hover, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL:hover {
  background-color: #0000;
  border: .0625rem solid #99aed1;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:hover .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ccd6e8;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:focus .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL:focus .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #00358d;
}

.blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:active .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:focus .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL:active .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__darkmode .blog-module__WDTRSq__Button_primary__b__QL:focus .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #fff;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL {
  border: .0625rem solid #ac904c;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn {
  border: .0625rem solid #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #000;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_goldLight__ZvTNn:focus .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:hover {
  border: .0625rem solid #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:hover .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:active, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:focus {
  border: .0625rem solid #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:focus .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #655631;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:active .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL:focus .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #fff;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ {
  border: .0625rem solid #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn {
  border: .0625rem solid #ac904c;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:hover {
  border: .0625rem solid #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:hover .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:active, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:focus {
  border: .0625rem solid #2c2713;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:focus .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #655631;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:active .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ.blog-module__WDTRSq__Button_goldLight__ZvTNn:focus .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #fff;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ .blog-module__WDTRSq__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ .blog-module__WDTRSq__Button_icon__Rt_Hz .blog-module__WDTRSq__icon {
  color: #000;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:hover .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:active .blog-module__WDTRSq__Button_icon__Rt_Hz, .blog-module__WDTRSq__gold .blog-module__WDTRSq__Button_primary__b__QL.blog-module__WDTRSq__Button_darkmode__ozqJQ:focus .blog-module__WDTRSq__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

/*# sourceMappingURL=src_app_components_Home_Blog_blog_module_b52d8e.css.map*/