/* [project]/src/app/components/Home/Job/job.module.css [app-client] (css) */
.job-module__D-5L7q__JobsCard_o-site-container__UZ2L1 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsCard_o-site-container__UZ2L1 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .job-module__D-5L7q__JobsCard_o-site-container__UZ2L1 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.job-module__D-5L7q__JobsCard_jobcard__1oiYB {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: #fff;
  border-bottom-right-radius: 2.5rem;
  box-shadow: -8px 4px 40px #00235d14;
  z-index: 1;
  overflow: hidden;
  color: #00235d;
  cursor: pointer;
  justify-content: flex-start;
}

.job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_buttonIcon__rxzEr {
  transition: all .3s ease-in-out;
}

.job-module__D-5L7q__JobsCard_jobcard__1oiYB:hover {
  box-shadow: -8px 8px 48px #00235d1f;
}

.job-module__D-5L7q__JobsCard_jobcard__1oiYB:hover .job-module__D-5L7q__JobsCard_buttonIcon__rxzEr {
  transform: translateX(.25rem);
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB {
  background: #b49a53;
  background: linear-gradient(137deg, #b49a53 5%, #c6b364 74%);
  filter: progid:DXImageTransform. Microsoft. gradient(startColorstr= "#b49a53", endColorstr= "#c6b364", GradientType= 1);
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_location__yEXJ5 .job-module__D-5L7q__JobsCard_locationIcon__b0lSx, .job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_location__yEXJ5 span {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_dateWrapper__HB3DM, .job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_title__tjjE7 {
  color: #1f1c16;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_info__mr8vF {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_seperator__h_YIz {
  background-color: #655631;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_button__RAf_R {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_dateIcon__k1xlv {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsCard_jobcard__1oiYB .job-module__D-5L7q__JobsCard_buttonIcon__rxzEr {
  background-color: #f8ebcb;
  color: #655631;
}

@media (width >= 71.3125em) {
  .job-module__D-5L7q__JobsCard_jobcard__1oiYB {
    flex-direction: row;
  }
}

.job-module__D-5L7q__JobsCard_imageWrapper__UPtOz {
  max-height: 240px;
  width: 11.5rem;
  min-width: 100%;
  aspect-ratio: 184 / 252;
  position: relative;
  align-self: stretch;
}

@media (width >= 71.3125em) {
  .job-module__D-5L7q__JobsCard_imageWrapper__UPtOz {
    min-width: 11.5rem;
    max-height: 100%;
  }
}

.job-module__D-5L7q__JobsCard_image__s932i {
  width: 100%;
  aspect-ratio: 184 / 252;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.job-module__D-5L7q__JobsCard_textWrapper__vKRoV {
  display: flex;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  width: 100%;
  gap: .5rem;
  flex-direction: column;
  position: relative;
  font: var(--font-body-normal);
  min-height: 100%;
  align-self: stretch;
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsCard_textWrapper__vKRoV {
    padding: 2rem 1.5rem 1.5rem 2rem;
  }
}

.job-module__D-5L7q__JobsCard_title__tjjE7 {
  font-family: Exo_Medium, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: .25rem;
  margin-bottom: .5rem;
  grid-column: span2;
}

.job-module__D-5L7q__JobsCard_button__RAf_R {
  margin: auto -.5rem -.5rem auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.job-module__D-5L7q__JobsCard_link__aBb8Y {
  background-image: url("/assets/images/p1.webp");
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
}

.job-module__D-5L7q__JobsCard_dateWrapper__HB3DM {
  color: #2086ae;
  font: var(--font-body-small);
  display: flex;
  align-items: center;
}

.job-module__D-5L7q__JobsCard_dateWrapper__HB3DM .job-module__D-5L7q__JobsCard_dateIcon__k1xlv {
  margin-right: .5rem;
  margin-bottom: .25rem;
  color: #2086ae;
  width: 1rem;
  height: 1rem;
}

.job-module__D-5L7q__JobsCard_extraInfo__iW6o4 {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: .5rem;
}

.job-module__D-5L7q__JobsCard_locationIcon__b0lSx {
  width: 1rem;
  height: 1rem;
}

.job-module__D-5L7q__JobsCard_location__yEXJ5 {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.job-module__D-5L7q__JobsCard_location__yEXJ5 span {
  font-family: Exo, sans-serif;
  color: #00235d;
}

.job-module__D-5L7q__JobsCard_seperator__h_YIz {
  background-color: #ccd6e8;
  width: .0625rem;
  height: 1.5rem;
}

.job-module__D-5L7q__JobsCard_info__mr8vF p {
  font-family: Exo_Medium, sans-serif;
  font-weight: 500;
}

.job-module__D-5L7q__JobsBlock_o-site-container__AC3bF {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_o-site-container__AC3bF {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .job-module__D-5L7q__JobsBlock_o-site-container__AC3bF {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.job-module__D-5L7q__JobsBlock_section__2OMCO {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  min-height: 100%;
  margin-block: 2.5rem;
  position: relative;
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_section__2OMCO {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .job-module__D-5L7q__JobsBlock_section__2OMCO {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_section__2OMCO {
    margin-block: 7.5rem;
  }
}

.job-module__D-5L7q__gold .job-module__D-5L7q__JobsBlock_section__2OMCO .job-module__D-5L7q__JobsBlock_largeTitle__RYiIZ, .job-module__D-5L7q__gold .job-module__D-5L7q__JobsBlock_section__2OMCO .job-module__D-5L7q__JobsBlock_smallTitle__gk_sO {
  color: #ceaa53;
}

.job-module__D-5L7q__JobsBlock_container__28saQ {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  padding: 2.5rem 0;
  grid-gap: 3rem;
  gap: 3rem;
}

@media (width >= 56.25em) {
  .job-module__D-5L7q__JobsBlock_container__28saQ {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
  }
}

.job-module__D-5L7q__JobsBlock_textWrapper__yQx7Q {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: min-content;
  z-index: 2;
  position: relative;
  width: 100%;
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_textWrapper__yQx7Q {
    grid-column: span 5;
  }
}

.job-module__D-5L7q__JobsBlock_button__lIDsB {
  margin-top: 1.5rem;
}

.job-module__D-5L7q__JobsBlock_smallTitle__gk_sO {
  color: #2086ae;
  text-transform: uppercase;
  font-family: Exo_bold, sans-serif;
  font-weight: bold;
}

.job-module__D-5L7q__JobsBlock_largeTitle__RYiIZ {
  color: #00235d;
  font-family: Exo, sans-serif;
  font-weight: normal;
  font-size: 3rem;
}

.job-module__D-5L7q__JobsBlock_cardWrapper__23TBW {
  perspective: 800px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: min-content;
  z-index: 2;
  position: relative;
  width: 100%;
  perspective: 1200px;
}

.job-module__D-5L7q__ParallaxWrapper_rotationWrapper__iR1i1 {
  transition: transform .3s ease-out;
  transform-origin: center;
  will-change: transform;
}

.job-module__D-5L7q__ParallaxWrapper_rotationWrapper__iR1i1:hover {
  transform: rotate3d(1, 1, 0, 15deg)scale(1.05);
  box-shadow: 0 10px 20px #0003;
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_cardWrapper__23TBW {
    grid-column: span 7;
  }
}

.job-module__D-5L7q__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.job-module__D-5L7q__Icon_icon___Kgo7 svg {
  display: block;
}

.job-module__D-5L7q__JobsBlock_textWrapper__yQx7Q {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: min-content;
  z-index: 2;
  position: relative;
  width: 100%;
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_textWrapper__yQx7Q {
    grid-column: span 5;
  }
}

.job-module__D-5L7q__JobsBlock_button__lIDsB {
  margin-top: 1.5rem;
}

.job-module__D-5L7q__JobsBlock_smallTitle__gk_sO {
  color: #2086ae;
  text-transform: uppercase;
  font-family: Exo_bold, sans-serif;
  font-weight: bold;
}

.job-module__D-5L7q__JobsBlock_largeTitle__RYiIZ {
  color: #00235d;
  font-family: Exo, sans-serif;
  font-weight: normal;
  font-size: 3rem;
}

.job-module__D-5L7q__JobsBlock_cardWrapper__23TBW {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: min-content;
  z-index: 2;
  position: relative;
  width: 100%;
  perspective: 1200px;
}

@media (width >= 48em) {
  .job-module__D-5L7q__JobsBlock_cardWrapper__23TBW {
    grid-column: span 7;
  }
}

.job-module__D-5L7q__TextAnimation_mounted__Iz2_c {
  opacity: 1;
}

.job-module__D-5L7q__TextAnimation_text__sTrzf {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: .5rem;
}

.job-module__D-5L7q__TextAnimation_text__sTrzf .job-module__D-5L7q__linecontainer, .job-module__D-5L7q__TextAnimation_text__sTrzf .job-module__D-5L7q__word {
  overflow: hidden;
  overflow: clip;
  display: inline-block;
}

.job-module__D-5L7q__TextAnimation_text__sTrzf .job-module__D-5L7q__outline .job-module__D-5L7q__word {
  padding-right: .05em;
}

.job-module__D-5L7q__TextAnimation_text__sTrzf .job-module__D-5L7q__char {
  transform: translateY(100%)rotate(90deg);
}

.job-module__D-5L7q__TextAnimation_text__sTrzf .job-module__D-5L7q__line > :not(:last-child) {
  margin-right: .25em;
}

.job-module__D-5L7q__TextAnimation_text__sTrzf .job-module__D-5L7q__linecontainer + .job-module__D-5L7q__linecontainer:before {
  content: " ";
}

.job-module__D-5L7q__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.job-module__D-5L7q__Icon_icon___Kgo7 svg {
  display: block;
}

.job-module__D-5L7q__Button_o-site-container__ks40o {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .job-module__D-5L7q__Button_o-site-container__ks40o {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .job-module__D-5L7q__Button_o-site-container__ks40o {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@keyframes job-module__D-5L7q__Button_bob__3_pUe {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200%);
  }

  51% {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes job-module__D-5L7q__Button_anti-bob__G1XfJ {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200%);
  }

  51% {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

.job-module__D-5L7q__Button_button__T6zT9 {
  font-family: Exo, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: background-color .3s ease-out, transform .3s ease-out, color .3s ease-out;
}

.job-module__D-5L7q__Button_button__T6zT9[disabled] {
  opacity: .4;
}

.job-module__D-5L7q__Button_button__T6zT9:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  transform: scale(1.1);
}

.job-module__D-5L7q__Button_button__T6zT9:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  transform: scale(.9);
  animation: 1s cubic-bezier(.785, .135, .15, .86) job-module__D-5L7q__Button_bob__3_pUe;
}

.job-module__D-5L7q__Button_icon__Rt_Hz {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
  overflow: hidden;
  color: #fff;
}

.job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  transition: all .3s ease-out;
}

.job-module__D-5L7q__Button_primary__b__QL {
  color: #2086ae;
  border: .0625rem solid #99aed1;
  border-radius: 2rem;
  padding: .5rem;
  gap: 1rem;
  align-items: center;
}

.job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  margin: 0 1rem;
  color: #2086ae;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_iconButton__fsKFn .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  margin: 0 0 0 1.5rem;
}

.job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_icon__Rt_Hz {
  padding: .5rem;
  background-color: #2086ae;
  height: 100%;
  overflow: hidden;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}

.job-module__D-5L7q__Button_primary__b__QL:hover {
  color: #fff;
}

.job-module__D-5L7q__Button_primary__b__QL:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.job-module__D-5L7q__Button_primary__b__QL:active, .job-module__D-5L7q__Button_primary__b__QL:focus {
  color: #ccd6e8;
}

.job-module__D-5L7q__Button_primary__b__QL:active .job-module__D-5L7q__Button_titleWrapper__Glw9g, .job-module__D-5L7q__Button_primary__b__QL:focus .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #00235d;
}

.job-module__D-5L7q__Button_primary__b__QL:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__Button_primary__b__QL:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #00235d;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL {
  color: #fff;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #fff;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #00112e;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_titleWrapper__Glw9g, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #fff;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:hover, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL:hover {
  background-color: #0000;
  border: .0625rem solid #99aed1;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:hover .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ccd6e8;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:focus .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_primary__b__QL:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL {
  border: .0625rem solid #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn {
  border: .0625rem solid #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #000;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_goldLight__ZvTNn:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:hover {
  border: .0625rem solid #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:active, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:focus {
  border: .0625rem solid #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #655631;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ {
  border: .0625rem solid #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn {
  border: .0625rem solid #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:hover {
  border: .0625rem solid #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:active, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:focus {
  border: .0625rem solid #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #655631;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldLight__ZvTNn:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #000;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_primary__b__QL.job-module__D-5L7q__Button_darkmode__ozqJQ:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__Button_secondary__8ZLTI {
  background-color: #0000;
  border-radius: 2rem;
  padding: .5rem;
  gap: 1rem;
  align-items: center;
}

.job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  margin: 0 1rem;
  color: #2086ae;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_iconButton__fsKFn .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  margin: 0;
}

.job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_icon__Rt_Hz {
  padding: .5rem;
  background-color: #2086ae;
  height: 100%;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}

.job-module__D-5L7q__Button_secondary__8ZLTI:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.job-module__D-5L7q__Button_secondary__8ZLTI:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__Button_secondary__8ZLTI:active, .job-module__D-5L7q__Button_secondary__8ZLTI:focus {
  color: #2086ae;
}

.job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_titleWrapper__Glw9g, .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #00235d;
}

.job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #00235d;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ, .job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI {
  color: #fff;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #fff;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #00112e;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_titleWrapper__Glw9g, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #fff;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:hover, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI:hover {
  background-color: #0000;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:hover .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ccd6e8;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:focus .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__darkmode .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #f8ebcb;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #1f1c16;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #1f1c16;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_goldLight__ZvTNn:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #f8ebcb;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #655631;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet:hover .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #2c2713;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #655631;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet:active .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ.job-module__D-5L7q__Button_goldDark__LAUet:focus .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ .job-module__D-5L7q__Button_icon__Rt_Hz .job-module__D-5L7q__icon {
  color: #fff;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:hover .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:active .job-module__D-5L7q__Button_icon__Rt_Hz, .job-module__D-5L7q__gold .job-module__D-5L7q__Button_secondary__8ZLTI.job-module__D-5L7q__Button_darkmode__ozqJQ:focus .job-module__D-5L7q__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

/*# sourceMappingURL=src_app_components_Home_Job_job_module_b52d8e.css.map*/