/* [project]/src/app/components/Services/ServiceCardBlock/serviceCard.module.css [app-client] (css) */
.serviceCard-module__dNS14W__ServiceCardsBlock_o-site-container__h0xJ1 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_o-site-container__h0xJ1 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_o-site-container__h0xJ1 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  position: relative;
  margin-block: 5rem;
  height: 100%;
  min-height: 100%;
}

@media (width >= 48em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 71.3125em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 {
    margin-block: 7.5rem;
  }
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_title__ajGTv {
  color: #ceaa53;
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_card__fjCz2 {
  background-color: #655631;
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_imageWrapper__loj0j {
  background-color: #1f1c16;
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_cardtitle__nQ_eN {
  color: #ceaa53;
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_iconWrapper__qHFqZ {
  background-color: #655631;
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_button__ER3q6, .serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_iconWrapper__qHFqZ .serviceCard-module__dNS14W__ServiceCardsBlock_icon__PArdM {
  color: #f8ebcb;
}

.serviceCard-module__dNS14W__gold .serviceCard-module__dNS14W__ServiceCardsBlock_section___t5l5 .serviceCard-module__dNS14W__ServiceCardsBlock_button__ER3q6 .serviceCard-module__dNS14W__icon {
  color: #1f1c16;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_container__D9nuX {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  gap: 0;
}

@media (width >= 71.3125em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_container__D9nuX {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
    gap: 0;
  }
}

.serviceCard-module__dNS14W__ServiceCardsBlock_textWrapper__WOelU {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media (width >= 48em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_textWrapper__WOelU {
    grid-column: span 7;
    gap: 1.5rem;
  }
}

.serviceCard-module__dNS14W__ServiceCardsBlock_cardWrapper__rb7HF {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
  perspective: 600px;
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

@media (width >= 48em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_cardWrapper__rb7HF {
    grid-column: span 12;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    gap: 1.5rem;
  }
}

@media (width >= 71.3125em) {
  .serviceCard-module__dNS14W__ServiceCardsBlock_cardWrapper__rb7HF {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

.serviceCard-module__dNS14W__ServiceCardsBlock_card__fjCz2 {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  position: relative;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_card__fjCz2:hover .serviceCard-module__dNS14W__iconwrapper {
  background-color: #f8e2ac;
  transform: translateX(.5rem);
}

.serviceCard-module__dNS14W__ServiceCardsBlock_card__fjCz2:hover .serviceCard-module__dNS14W__ServiceCardsBlock_image__Q_8bH {
  transform: scale(1.1);
  opacity: .8;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_imageWrapper__loj0j {
  width: 100%;
  height: inherit;
  overflow: hidden;
  background-color: #00112e;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_image__Q_8bH {
  width: 100%;
  height: 100%;
  transition: all .3s ease-out;
  object-fit: cover;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_cardtextWrapper__Wp_g_ {
  padding: 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_cardtitle__nQ_eN {
  margin-bottom: .5rem;
  color: #2086ae;
  font: 700 1.5rem / 2rem Exo, sans-serif;
  position: relative;
  z-index: 5;
}

.serviceCard-module__dNS14W__ServiceCard_paragraph {
  font: 300 1rem / 1.2rem Exo, sans-serif;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_link__SkUh1 {
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  text-indent: -999em;
  overflow: hidden;
  z-index: 1;
  z-index: 9;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_button__ER3q6 {
  align-self: flex-end;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_iconWrapper__qHFqZ {
  position: absolute;
  top: -2.5rem;
  left: 0;
  padding: 1.5rem;
  background-color: #fff;
  border-top-right-radius: 1rem;
  z-index: 4;
}

.serviceCard-module__dNS14W__ServiceCardsBlock_iconWrapper__qHFqZ .serviceCard-module__dNS14W__ServiceCardsBlock_icon__PArdM {
  color: #2086ae;
}

.serviceCard-module__dNS14W__p {
  margin-top: 0;
  color: #000;
}

/*# sourceMappingURL=src_app_components_Services_ServiceCardBlock_serviceCard_module_b52d8e.css.map*/