/* [project]/src/app/components/Home/location/location.module.css [app-client] (css) */
.location-module__GFbJrG__LocationsSlider_o-site-container__Xsp6v {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationsSlider_o-site-container__Xsp6v {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .location-module__GFbJrG__LocationsSlider_o-site-container__Xsp6v {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.location-module__GFbJrG__LocationsSlider_sliderWrapper___jN5Z {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationsSlider_sliderWrapper___jN5Z {
    gap: 4.375rem;
    margin-top: 5rem;
  }
}

.location-module__GFbJrG__gold .location-module__GFbJrG__LocationsSlider_sliderWrapper___jN5Z .location-module__GFbJrG__LocationsSlider_location__x6NQX {
  color: #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__LocationsSlider_sliderWrapper___jN5Z .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux, .location-module__GFbJrG__gold .location-module__GFbJrG__LocationsSlider_sliderWrapper___jN5Z .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux:before {
  background-color: #ceaa53;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__LocationsSlider_sliderWrapper___jN5Z .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux:after {
  background-color: #1f1c16;
}

.location-module__GFbJrG__LocationsSlider_slider__Aaqu7 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationsSlider_slider__Aaqu7 {
    gap: 5rem;
  }
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #00112e;
  transition: color .3s ease-in-out, -webkit-text-fill-color .3s ease-in-out;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX .location-module__GFbJrG__LocationsSlider_title__vKaO_ {
  -webkit-text-fill-color: currentColor;
  width: max-content;
  transition: color .3s ease-in-out, -webkit-text-fill-color .3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 1.5rem;
  background-color: #2086ae;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  isolation: isolate;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: .1;
  height: 100%;
  border-radius: 1.5rem;
  background-color: #2086ae;
  z-index: 3;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux.location-module__GFbJrG__LocationsSlider_hasImage__pdKoo:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: .1;
  background-color: #2086ae;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX .location-module__GFbJrG__LocationsSlider_svg__6TBtR {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.location-module__GFbJrG__Image_is_loaded__RCqPL {
  opacity: 1;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX .location-module__GFbJrG__LocationsSlider_image__F7MqP {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  opacity: 1;
  z-index: 1;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX:hover .location-module__GFbJrG__LocationsSlider_title__vKaO_ {
  font-feature-settings: none;
  font-variant-ligatures: none;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-fill-color: transparent;
}

.location-module__GFbJrG__LocationsSlider_location__x6NQX:hover .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux:after, .location-module__GFbJrG__LocationsSlider_location__x6NQX:hover .location-module__GFbJrG__LocationsSlider_imageWrapper__noqux:before, .location-module__GFbJrG__LocationsSlider_location__x6NQX:hover .location-module__GFbJrG__LocationsSlider_image__F7MqP {
  opacity: 0;
}

.location-module__GFbJrG__LocationBlock_o-site-container__PYXnH {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_o-site-container__PYXnH {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .location-module__GFbJrG__LocationBlock_o-site-container__PYXnH {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

.location-module__GFbJrG__LocationBlock_section__FpKpI {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
  overflow: hidden;
  overflow: clip;
  min-height: 100%;
  margin-block: 5rem;
  position: relative;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_section__FpKpI {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .location-module__GFbJrG__LocationBlock_section__FpKpI {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_section__FpKpI {
    margin-block: 7.5rem;
  }
}

.location-module__GFbJrG__gold .location-module__GFbJrG__LocationBlock_section__FpKpI .location-module__GFbJrG__LocationBlock_info__PEoID, .location-module__GFbJrG__gold .location-module__GFbJrG__LocationBlock_section__FpKpI .location-module__GFbJrG__LocationBlock_title__OoA2u {
  color: #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__LocationBlock_section__FpKpI .location-module__GFbJrG__LocationBlock_content__4vYYD:after {
  border-top: .0625rem solid #ffd36a;
  border-right: .0625rem solid #ffd36a;
}

.location-module__GFbJrG__LocationBlock_container__W_TQR {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  padding: 2.5rem 0;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_container__W_TQR {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    padding: 5rem 0;
  }
}

.location-module__GFbJrG__LocationBlock_content__4vYYD {
  grid-column: span 4;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1vw;
  gap: 1vw;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2.5rem;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_content__4vYYD {
    grid-column: span 10;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
    z-index: 1;
    padding-bottom: 3.5rem;
  }

  .location-module__GFbJrG__LocationBlock_content__4vYYD:after {
    content: "";
    position: absolute;
    display: block;
    top: 1rem;
    left: 11.25rem;
    width: calc(100% - 11.25rem);
    height: 100%;
    border-top: .0625rem solid #00112e;
    border-right: .0625rem solid #00112e;
    border-top-right-radius: 6rem;
    z-index: -1;
  }
}

.location-module__GFbJrG__LocationBlock_title__OoA2u {
  grid-column: span 4;
  color: #2086ae;
  font-family: SchibstedGrotesk, sans-serif;
  text-transform: uppercase;
}

.location-module__GFbJrG__LocationBlock_info__PEoID p {
  font-family: SchibstedGrotesk, sans-serif;
  grid-column: span 8;
  color: #00112e;
  margin-top: 2.5rem;
  font-size: 2rem;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_info__PEoID {
    grid-column: span 9;
  }
}

@media (width <= 48em) {
  .location-module__GFbJrG__LocationBlock_info__PEoID {
    grid-column: span 9;
  }
}

.location-module__GFbJrG__LocationBlock_buttonWrapper__t95EU {
  margin-top: 1.5rem;
  grid-column: span 4;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_buttonWrapper__t95EU {
    grid-column: span 10;
  }
}

.location-module__GFbJrG__LocationBlock_locations__jqljX {
  grid-column: span 4;
}

@media (width >= 48em) {
  .location-module__GFbJrG__LocationBlock_locations__jqljX {
    grid-column: span 12;
  }
}

.location-module__GFbJrG__Image_storyblok_image__oDocz {
  opacity: 0;
  transition: opacity .3s cubic-bezier(.25, .46, .45, .94);
}

.location-module__GFbJrG__Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.location-module__GFbJrG__Icon_icon___Kgo7 svg {
  display: block;
}

.location-module__GFbJrG__Button_o-site-container__ks40o {
  width: 100%;
  max-width: 119.375rem;
  margin: 0 auto;
  padding-left: calc(4 * var(--space));
  padding-right: calc(4 * var(--space));
}

@media (width >= 48em) {
  .location-module__GFbJrG__Button_o-site-container__ks40o {
    padding-left: calc(10 * var(--space));
    padding-right: calc(10 * var(--space));
  }
}

@media (width >= 82.8125em) {
  .location-module__GFbJrG__Button_o-site-container__ks40o {
    padding-left: calc(22 * var(--space));
    padding-right: calc(22 * var(--space));
  }
}

@keyframes location-module__GFbJrG__Button_bob__3_pUe {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200%);
  }

  51% {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes location-module__GFbJrG__Button_anti-bob__G1XfJ {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200%);
  }

  51% {
    transform: translateY(-200%);
  }

  to {
    transform: translateY(0);
  }
}

.location-module__GFbJrG__Button_button__T6zT9 {
  font: var(--font-label-large);
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0;
  box-sizing: border-box;
  transition: all .3s ease-out;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: background-color .3s ease-out, transform .3s ease-out, color .3s ease-out;
}

.location-module__GFbJrG__Button_button__T6zT9[disabled] {
  opacity: .4;
}

.location-module__GFbJrG__Button_button__T6zT9:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  transform: scale(1.1);
}

.location-module__GFbJrG__Button_button__T6zT9:hover .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  transform: scale(.9);
  animation: 1s cubic-bezier(.785, .135, .15, .86) location-module__GFbJrG__Button_bob__3_pUe;
}

.location-module__GFbJrG__Button_icon__Rt_Hz {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
  overflow: hidden;
}

.location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  transition: all .3s ease-out;
}

.location-module__GFbJrG__Button_primary__b__QL {
  color: #2086ae;
  border: .0625rem solid #99aed1;
  border-radius: 2rem;
  padding: .5rem;
  gap: 1rem;
  align-items: center;
}

.location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  margin: 0 1rem;
  color: #2086ae;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_iconButton__fsKFn .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  margin: 0 0 0 1.5rem;
}

.location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_icon__Rt_Hz {
  padding: .5rem;
  background-color: #2086ae;
  height: 100%;
  overflow: hidden;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  color: #fff;
}

.location-module__GFbJrG__Button_primary__b__QL:hover {
  color: #fff;
}

.location-module__GFbJrG__Button_primary__b__QL:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.location-module__GFbJrG__Button_primary__b__QL:active, .location-module__GFbJrG__Button_primary__b__QL:focus {
  color: #ccd6e8;
}

.location-module__GFbJrG__Button_primary__b__QL:active .location-module__GFbJrG__Button_titleWrapper__Glw9g, .location-module__GFbJrG__Button_primary__b__QL:focus .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  color: #2086ae;
}

.location-module__GFbJrG__Button_primary__b__QL:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__Button_primary__b__QL:focus .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL {
  color: #fff;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #fff;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #00112e;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ .location-module__GFbJrG__Button_titleWrapper__Glw9g, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  color: #fff;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:hover, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL:hover {
  background-color: #0000;
  border: .0625rem solid #99aed1;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:hover .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ccd6e8;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:focus .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL:focus .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #2086ae;
}

.location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:active .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:focus .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL:active .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__darkmode .location-module__GFbJrG__Button_primary__b__QL:focus .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #fff;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL {
  border: .0625rem solid #ac904c;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn {
  border: .0625rem solid #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #000;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_goldLight__ZvTNn:focus .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:hover {
  border: .0625rem solid #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:hover .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:active, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:focus {
  border: .0625rem solid #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:focus .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #655631;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:active .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL:focus .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #fff;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ {
  border: .0625rem solid #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn {
  border: .0625rem solid #ac904c;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  color: #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:hover {
  border: .0625rem solid #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:hover .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:active, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:focus {
  border: .0625rem solid #2c2713;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:focus .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #655631;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:active .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ.location-module__GFbJrG__Button_goldLight__ZvTNn:focus .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #fff;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ .location-module__GFbJrG__Button_titleWrapper__Glw9g {
  color: #f8e2ac;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ceaa53;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ .location-module__GFbJrG__Button_icon__Rt_Hz .location-module__GFbJrG__icon {
  color: #000;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:hover .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ffd36a;
}

.location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:active .location-module__GFbJrG__Button_icon__Rt_Hz, .location-module__GFbJrG__gold .location-module__GFbJrG__Button_primary__b__QL.location-module__GFbJrG__Button_darkmode__ozqJQ:focus .location-module__GFbJrG__Button_icon__Rt_Hz {
  background-color: #ac904c;
}

/*# sourceMappingURL=src_app_components_Home_location_location_module_b52d8e.css.map*/