.whatsappIcon {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #25d366;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
  }
  
  .whatsappIcon:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .whatsappImage {
    width: 34px;
    height: 34px;
  }