.Stepper_section__s_Und {
  padding: 50px 0;
  background-color: #f9f9f9;
  gap: 2rem;
}

.Stepper_container__oFfO_ {
  max-width: 1200px;
  margin: 0 auto;
  /* padding:8%; */
}

@media (max-width:30em) {
  .Stepper_container__oFfO_ {
    max-width: 1200px;
    margin: 0 auto;
    padding:8%;
  }
  
}

.Stepper_containerTitleWrapper___TcKF {
  margin-bottom: 40px;
}

.Stepper_containerTitleWrapper___TcKF h3 {
  font-family: 'Exo_bold', sans-serif;
  font-weight: 500;
  font-size: clamp(2.3rem, 2.5rem, 4rem);
  color: #2086ae;
}

.Stepper_item____1Dn {
  padding: 5rem 1.5rem 1.5rem;
  background-color: #fff;
  border-radius: 2.5rem;
  border-top-left-radius: 0;
  position: relative;
  box-sizing: border-box; /* Change to border-box for consistent width */
  box-shadow: -8px 4px 40px 0 rgba(0, 35, 93, 0.08);
  width: 100%; /* Change from fit-content to 100% */
}

@media (max-width: 48em) {
  .Stepper_item____1Dn {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 2.5rem;
    border-top-left-radius: 0;
    position: relative;
    box-shadow: -8px 4px 40px 0 rgba(0, 35, 93, 0.08);
  }
}

.Stepper_itemIcon__6trkX {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  border-bottom-right-radius: 1rem;
  background-color: #ccd6e8;
  color: #2086ae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stepper_itemIcon__6trkX .Stepper_icon__LMtYi {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.Stepper_titleWrapper__oATRq {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.Stepper_titleWrapper__oATRq h3 {
  font-family: 'Exo', sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.Stepper_titleWrapper__oATRq h6 {
  font-family: 'Exo', sans-serif;
  font-size: 1.35rem;
  font-weight: 800;
}

.Stepper_titleWrapper__oATRq .Stepper_number__Syhmc {
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-fill-color: transparent;
  color: #2086ae;
}

.Stepper_titleWrapper__oATRq .Stepper_title__dXCXT {
  color: #2086ae;
}

.Stepper_info__udxYT {
  font: var(--font-body-normal);
  color: #00112e;
  margin-top: 0.5rem;
}

.Icon_icon___Kgo7 {
  display: inline-block;
  height: 1.5rem;
  box-sizing: border-box;
  width: 1.5rem;
}

.Icon_icon___Kgo7 svg {
  display: block;
}

.BlogCarousel_emblabutton__t5aLE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2086ae;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 50%;
  color: #fff;
}

@media (min-width: 71.3125em) {
  .BlogCarousel_emblabutton__t5aLE {
    width: 4rem;
    height: 4rem;
  }
}

.BlogCarousel_emblabutton__t5aLE[disabled] {
  opacity: 0.4;
}

.BlogCarousel_emblabutton__t5aLE.BlogCarousel_prev__vAE6w .icon {
  transform: rotate(180deg);
}

.BlogCarousel_emblabutton__t5aLE:hover {
  background-color: #2086ae;
}

.BlogCarousel_emblabutton__t5aLE:active {
  background-color: #2086ae;
  transition: scale 0.1s ease-out;
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .Stepper_stepperWrapper__Y2Scs > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .Stepper_item____1Dn {
    width: 100%; 
  }
}