.CtaBlock_o-site-container__EBaL9 {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
}

@media (min-width: 48em) {
    .CtaBlock_o-site-container__EBaL9 {
        padding-left: calc(10 * var(--space));
        padding-right: calc(10 * var(--space));
    }
}

@media (min-width: 82.8125em) {
    .CtaBlock_o-site-container__EBaL9 {
        padding-left: calc(22 * var(--space));
        padding-right: calc(22 * var(--space));
    }
}

.CtaBlock_section__bNFj7 {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
    position: relative;
    min-height: 100%;
    margin-block: 5rem;
}

@media (min-width: 48em) {
    .CtaBlock_section__bNFj7 {
        padding-left: calc(10 * var(--space));
        padding-right: calc(10 * var(--space));
    }
}

@media (min-width: 82.8125em) {
    .CtaBlock_section__bNFj7 {
        padding-left: calc(22 * var(--space));
        padding-right: calc(22 * var(--space));
    }
}

@media (min-width: 48em) {
    .CtaBlock_section__bNFj7 {
        margin-block: 7.5rem;
    }
}

.gold .CtaBlock_section__bNFj7 .CtaBlock_content__87Op8 .CtaBlock_title__enemh {
    color: #ceaa53;
}

.gold .CtaBlock_section__bNFj7 .CtaBlock_content__87Op8 .CtaBlock_info__DVPeC {
    color: #ffd36a;
}

.CtaBlock_container__nHh2p {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1vw;
    gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    width: 100%;
    margin: 2.5rem 0;
    grid-gap: 2.5rem;
    gap: 2.5rem;
}

@media (min-width: 48em) {
    .CtaBlock_container__nHh2p {
        box-sizing: border-box;
        display: grid;
        grid-gap: 1vw;
        gap: 1vw;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        margin: 5rem 0;
    }
}

.CtaBlock_content__87Op8 {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}

@media (min-width: 48em) {
    .CtaBlock_content__87Op8 {
        align-self: center;
        grid-row: 1;
    }

    .CtaBlock_content__87Op8.CtaBlock_right__cyR7S {
        grid-column: span 5;
        grid-column: 1 / span 5;
    }
}

@media (min-width: 48em) and (min-width: 71.3125em) {
    .CtaBlock_content__87Op8.CtaBlock_right__cyR7S {
        grid-column: span 5;
        grid-column: 2 / span 5;
    }
}

@media (min-width: 48em) {
    .CtaBlock_content__87Op8.CtaBlock_left__m_YMo {
        grid-column: span 6;
        grid-column: 7 / span 6;
    }
}

@media (min-width: 48em) and (min-width: 71.3125em) {
    .CtaBlock_content__87Op8.CtaBlock_left__m_YMo {
        grid-column: span 5;
        grid-column: 8 / span 5;
    }
}

.CtaBlock_title__enemh {
    font-family:'SchibstedGrotesk_Medium',sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #00235d;
}

.CtaBlock_info__DVPeC {
    margin-bottom: 1.5rem;
    color: #00112e;
    font-family:'SchibstedGrotesk_Medium',sans-serif;
    font-size: 1.35rem;
    line-height: 1.875rem;
    font-weight: 500;

    
}

.CtaBlock_videoWrapper__ZHqAx {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    grid-column: span 4;
    position: relative;
    background-color: #fff;
    transition: all 0.3s ease-out;
    overflow: visible;
    border-top-left-radius: 2.5rem;
}

.gold .CtaBlock_videoWrapper__ZHqAx {
    background-color: #2c2713;
    transition: all 0.3s ease-out;
}

@media (min-width: 48em) {
    .CtaBlock_videoWrapper__ZHqAx {
        width: 100%;
        max-width: 512px;
    }

    .CtaBlock_videoWrapper__ZHqAx.CtaBlock_right__cyR7S {
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: unset;
        border-top-left-radius: 6rem;
        grid-column: span 5;
        grid-column: 8 / span 5;
    }

    .CtaBlock_videoWrapper__ZHqAx.CtaBlock_left__m_YMo {
        overflow: visible;
        border-top-left-radius: unset;
        border-top-right-radius: 6rem;
        border-bottom-right-radius: unset;
        grid-column: span 5;
        grid-column: 2 / span 5;
    }
}

.CtaBlock_imageWrapper__d_ZrU {
    grid-row: 1;
    grid-column: span 4;
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom-right-radius: 2.5rem;
}

@media (min-width: 48em) {
    .CtaBlock_imageWrapper__d_ZrU.CtaBlock_right__cyR7S {
        overflow: hidden;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: 6rem;
        grid-column: span 5;
        grid-column: 8 / span 5;
    }

    .CtaBlock_imageWrapper__d_ZrU.CtaBlock_left__m_YMo {
        overflow: hidden;
        border-bottom-right-radius: 6rem;
        grid-column: span 5;
        grid-column: 1 / span 5;
    }
}

.CtaBlock_image__ZWyx1 {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media (min-width: 71.3125em) {
    .CtaBlock_image__ZWyx1 {
        width: 100%;
    }
}

.CtaBlock_imageAnimWrapper__8yppU {
    height: 100%;
}

.CtaBlock_videoAnimWrapper__MFcyz {
    height: 100%;
    aspect-ratio: 968/847;
    width: 100%;
}

@media (min-width: 48em) {
    .CtaBlock_videoAnimWrapper__MFcyz {
        aspect-ratio: 968/847;
    }
}

@media (min-width: 71.3125em) {
    .CtaBlock_videoAnimWrapper__MFcyz {
        min-height: 528px;
    }
}

.CtaBlock_secondaryImageAnimWrapper__rsqz3 {
    height: 100%;
    min-height: 26.25rem;
}

@media (min-width: 48em) {
    .CtaBlock_secondaryImageAnimWrapper__rsqz3 {
        min-height: 448px;
    }
}

@media (min-width: 71.3125em) {
    .CtaBlock_secondaryImageAnimWrapper__rsqz3 {
        min-height: 528px;
    }
}

.CtaBlock_secondaryImage__NSFSe {
    width: 120%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    vertical-align: top;
}

.CtaBlock_CargoTruck__2gjEY {
    position: relative;
    left: 27.5%;
    transition: all 0.2s ease-out;
}

.CtaBlock_inactive__UBkTw {
    transform: translateX(-100%);
    animation: CtaBlock_toLeft__PJNZ6 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@media (min-width: 48em) {
    .CtaBlock_inactive__UBkTw {
        transform: translateY(-100%);
        animation: CtaBlock_toTop__YOw4U 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    }
}

.CtaBlock_active__t5HIF {
    transform: translateX(0);
    animation: CtaBlock_fromRight__pmZrF 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@media (min-width: 48em) {
    .CtaBlock_active__t5HIF {
        transform: translateY(0);
        animation: CtaBlock_fromBottom__FP36m 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    }
}

.CtaBlock_CargoBarging__2X_Yi {
    position: relative;
    left: 8%;
}

.CtaBlock_video__xkBJd {
    width: 100%;
    max-height: remm(847px);
    max-width: remm(968px);
    aspect-ratio: 968/847;
    height: auto;
    position: absolute;
    left: 12.5%;
    top: 50%;
    transform: translateY(-50%);
    object-fit: fill;
    vertical-align: top;
}

.CtaBlock_video__image__RLW28 {
    width: 125%;
    left: -12.5%;
    height: auto;
    aspect-ratio: 968/847;
    position: relative;
}

.CtaBlock_animatedVideo__KIFx4 {
    object-fit: fill;
    position: absolute;
    height: auto;
    width: 120%;
    top: 16%;
}

.CtaBlock_animatedVideo__KIFx4 video {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
}

@media (min-width: 48em) {
    .CtaBlock_animatedVideo__KIFx4 {
        top: 0;
        width: 160%;
        left: -32%;
    }
}

.CtaBlock_animatedImage__AL5Rq {
    object-fit: fill;
    position: absolute;
    top: 15%;
    height: auto;
    width: 100%;
}

@media (min-width: 48em) {
    .CtaBlock_animatedImage__AL5Rq {
        top: 28%;
    }
}

.CtaBlock_animatedImage__AL5Rq.CtaBlock___Flooring__JBc5r {
    top: 34%;
    left: -4%;
}

@media (min-width: 30em) {
    .CtaBlock_animatedImage__AL5Rq.CtaBlock___Flooring__JBc5r {
        left: -4%;
    }
}

@media (min-width: 48em) {
    .CtaBlock_animatedImage__AL5Rq {
        top: 0;
        width: 142%;
        left: -24%;
    }

    .CtaBlock_animatedImage__AL5Rq.CtaBlock___Flooring__JBc5r {
        top: 0;
        left: -40%;
    }

    .CtaBlock_default__4hQ8L .CtaBlock_imageWrapper__d_ZrU {
        overflow: hidden;
    }

    .CtaBlock_default__4hQ8L .CtaBlock_imageWrapper__d_ZrU.CtaBlock_right__cyR7S {
        border-radius: 0;
        border-bottom-left-radius: 6rem;
    }

    .CtaBlock_default__4hQ8L .CtaBlock_imageWrapper__d_ZrU.CtaBlock_left__m_YMo {
        border-radius: 0;
        border-bottom-right-radius: 6rem;
    }
}

.CtaBlock_dark__Vqkj3 {
    overflow-x: visible;
    overflow-y: visible;
}

@media (min-width: 48em) {
    .CtaBlock_dark__Vqkj3 {
        overflow-y: hidden;
    }
}

.CtaBlock_dark__Vqkj3 .CtaBlock_videoWrapper__ZHqAx {
    background-color: transparent;
}

@media (min-width: 48em) {
    .CtaBlock_dark__Vqkj3.CtaBlock_section__bNFj7 {
        margin-block: 11.5rem;
    }
}

.gold .CtaBlock_dark__Vqkj3.CtaBlock_section__bNFj7 .CtaBlock_content__87Op8 .CtaBlock_title__enemh {
    color: #1f1c16;
}

.gold .CtaBlock_dark__Vqkj3.CtaBlock_section__bNFj7 .CtaBlock_content__87Op8 .CtaBlock_info__DVPeC {
    color: #2c2713;
}

.CtaBlock_dark__Vqkj3 .CtaBlock_content__87Op8 {
    padding-bottom: 2rem;
}

@media (min-width: 48em) {
    .CtaBlock_dark__Vqkj3 .CtaBlock_content__87Op8 {
        padding-bottom: 0;
    }
}

.gold .CtaBlock_dark__Vqkj3 .CtaBlock_background__Goley {
    background-color: #ceaa53;
    background: radial-gradient(ellipse at center, #d9be7b 0, #ceaa53 100%);
}

.CtaBlock_dark__Vqkj3 .CtaBlock_background__Goley {
    position: absolute;
    z-index: -1;
    background-color: #00235d;
    background: radial-gradient(ellipse at center, #003690 0, #00235d 100%);
    height: 60%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

@media (min-width: 48em) {
    .CtaBlock_dark__Vqkj3 .CtaBlock_background__Goley {
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        width: 72%;
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 6rem;
        border-bottom-left-radius: 6rem;
    }
}

.CtaBlock_dark__Vqkj3 .CtaBlock_info__DVPeC,
.CtaBlock_dark__Vqkj3 .CtaBlock_title__enemh {
    color: #fff;
}

@keyframes CtaBlock_toTop__YOw4U {
    0% {
        transition: all 0.4s ease-out;
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    25% {
        opacity: 0;
        transition: all 0.4s ease-out;
    }

    to {
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease-out;
        transform: translateY(-100%) scale(0.5);
    }
}

@keyframes CtaBlock_toLeft__PJNZ6 {
    0% {
        transition: all 0.4s ease-out;
        transform: translateX(0) scale(1);
        opacity: 1;
    }

    25% {
        opacity: 0;
        transition: all 0.4s ease-out;
    }

    to {
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease-out;
        transform: translateX(-100%) scale(0.5);
    }
}

@keyframes CtaBlock_fromBottom__FP36m {
    0% {
        opacity: 0;
        transition: all 0.6s ease-out;
        transform: translateY(100%) scale(1);
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transition: all 0.6s ease-out;
        transform: translateY(0) scale(1);
    }
}

@keyframes CtaBlock_fromRight__pmZrF {
    0% {
        opacity: 0;
        transition: all 0.6s ease-out;
        transform: translateX(100%) scale(1);
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transition: all 0.6s ease-out;
        transform: translateX(0) scale(1);
    }
}

.Button_o-site-container__ks40o {
    width: 100%;
    max-width: 119.375rem;
    margin: 0 auto;
    padding-left: calc(4 * var(--space));
    padding-right: calc(4 * var(--space));
  }
  @media (min-width: 48em) {
    .Button_o-site-container__ks40o {
      padding-left: calc(10 * var(--space));
      padding-right: calc(10 * var(--space));
    }
  }
  @media (min-width: 82.8125em) {
    .Button_o-site-container__ks40o {
      padding-left: calc(22 * var(--space));
      padding-right: calc(22 * var(--space));
    }
  }
  @keyframes Button_bob__3_pUe {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200%);
    }
    51% {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes Button_anti-bob__G1XfJ {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(200%);
    }
    51% {
      transform: translateY(-200%);
    }
    to {
      transform: translateY(0);
    }
  }
  .Button_button__T6zT9 {
    font-family: 'Exo',sans-serif;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    gap: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: background-color 0.3s ease-out, transform 0.3s ease-out,
      color 0.3s ease-out;
  }
  .Button_button__T6zT9[disabled] {
    opacity: 0.4;
  }
  .Button_button__T6zT9:hover .Button_icon__Rt_Hz {
    transform: scale(1.1);
  }
  .Button_button__T6zT9:hover .Button_icon__Rt_Hz .icon {
    transform: scale(0.9);
    animation: Button_bob__3_pUe 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .Button_icon__Rt_Hz {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    overflow: hidden;
  }
  .Button_icon__Rt_Hz .icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .Button_icon__Rt_Hz .icon,
  .Button_titleWrapper__Glw9g {
    transition: all 0.3s ease-out;
  }
  .Button_primary__b__QL {
    color: #00358d;
    border: 0.0625rem solid #99aed1;
    border-radius: 2rem;
    padding: 0.5rem;
    gap: 1rem;
    align-items: center;
  }
  .Button_primary__b__QL .Button_titleWrapper__Glw9g {
    margin: 0 1rem;
    color: #00358d;
  }
  .Button_primary__b__QL.Button_iconButton__fsKFn .Button_titleWrapper__Glw9g {
    margin: 0 0 0 1.5rem;
  }
  .Button_primary__b__QL .Button_icon__Rt_Hz {
    padding: 0.5rem;
    background-color: #00358d;
    height: 100%;
    overflow: hidden;
    min-height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 50%;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    color: #fff;
  }
  .Button_primary__b__QL:hover {
    color: #fff;
  }
  .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
    background-color: #335da3;
  }
  .Button_primary__b__QL:active,
  .Button_primary__b__QL:focus {
    color: #ccd6e8;
  }
  .Button_primary__b__QL:active .Button_titleWrapper__Glw9g,
  .Button_primary__b__QL:focus .Button_titleWrapper__Glw9g {
    color: #00235d;
  }
  .Button_primary__b__QL:active .Button_icon__Rt_Hz,
  .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
    background-color: #00235d;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ,
  .darkmode .Button_primary__b__QL {
    color: #fff;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL .Button_icon__Rt_Hz {
    background-color: #fff;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz .icon,
  .darkmode .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
    color: #00112e;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_titleWrapper__Glw9g,
  .darkmode .Button_primary__b__QL .Button_titleWrapper__Glw9g {
    color: #fff;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:hover,
  .darkmode .Button_primary__b__QL:hover {
    background-color: transparent;
    border: 0.0625rem solid #99aed1;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:hover .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
    background-color: #ccd6e8;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz,
  .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL:active .Button_icon__Rt_Hz,
  .darkmode .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
    background-color: #00358d;
  }
  .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz .icon,
  .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz .icon,
  .darkmode .Button_primary__b__QL:active .Button_icon__Rt_Hz .icon,
  .darkmode .Button_primary__b__QL:focus .Button_icon__Rt_Hz .icon {
    color: #fff;
  }
  .gold .Button_primary__b__QL {
    border: 0.0625rem solid #ac904c;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn {
    border: 0.0625rem solid #ffd36a;
  }
  .gold
    .Button_primary__b__QL.Button_goldLight__ZvTNn
    .Button_titleWrapper__Glw9g {
    color: #f8e2ac;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn .Button_icon__Rt_Hz {
    background-color: #ceaa53;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn .Button_icon__Rt_Hz .icon {
    color: #000;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn:hover .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn:active .Button_icon__Rt_Hz,
  .gold .Button_primary__b__QL.Button_goldLight__ZvTNn:focus .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .gold .Button_primary__b__QL .Button_titleWrapper__Glw9g {
    color: #2c2713;
  }
  .gold .Button_primary__b__QL .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold .Button_primary__b__QL .Button_icon__Rt_Hz .icon {
    color: #2c2713;
  }
  .gold .Button_primary__b__QL:hover {
    border: 0.0625rem solid #2c2713;
  }
  .gold .Button_primary__b__QL:hover .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .gold .Button_primary__b__QL:hover .Button_icon__Rt_Hz .icon {
    color: #2c2713;
  }
  .gold .Button_primary__b__QL:active,
  .gold .Button_primary__b__QL:focus {
    border: 0.0625rem solid #2c2713;
  }
  .gold .Button_primary__b__QL:active .Button_icon__Rt_Hz,
  .gold .Button_primary__b__QL:focus .Button_icon__Rt_Hz {
    background-color: #655631;
  }
  .gold .Button_primary__b__QL:active .Button_icon__Rt_Hz .icon,
  .gold .Button_primary__b__QL:focus .Button_icon__Rt_Hz .icon {
    color: #fff;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ {
    border: 0.0625rem solid #ffd36a;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn {
    border: 0.0625rem solid #ac904c;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
    .Button_titleWrapper__Glw9g {
    color: #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
    .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn
    .Button_icon__Rt_Hz
    .icon {
    color: #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover {
    border: 0.0625rem solid #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover
    .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:hover
    .Button_icon__Rt_Hz
    .icon {
    color: #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active,
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus {
    border: 0.0625rem solid #2c2713;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active
    .Button_icon__Rt_Hz,
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus
    .Button_icon__Rt_Hz {
    background-color: #655631;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:active
    .Button_icon__Rt_Hz
    .icon,
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ.Button_goldLight__ZvTNn:focus
    .Button_icon__Rt_Hz
    .icon {
    color: #fff;
  }
  .gold
    .Button_primary__b__QL.Button_darkmode__ozqJQ
    .Button_titleWrapper__Glw9g {
    color: #f8e2ac;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz {
    background-color: #ceaa53;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ .Button_icon__Rt_Hz .icon {
    color: #000;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ:hover .Button_icon__Rt_Hz {
    background-color: #ffd36a;
  }
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ:active .Button_icon__Rt_Hz,
  .gold .Button_primary__b__QL.Button_darkmode__ozqJQ:focus .Button_icon__Rt_Hz {
    background-color: #ac904c;
  }
  .Icon_icon___Kgo7 {
    display: inline-block;
    height: 1.5rem;
    box-sizing: border-box;
    width: 1.5rem;
  }
  .Icon_icon___Kgo7 svg {
    display: block;
  }