.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/loading-bg.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding: 20px;
  overflow: hidden;
  position: relative;
  margin: 8px; /* Initial margin */
  transition: margin 0.3s ease; /* Smooth transition */
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 100%;
}

.loadingText {
  -webkit-text-fill-color: black;
  font-family: "Exo_bold_Italic", italic;
  font-size: 4rem;
  font-weight: 800;
}

.loadingText .outline {
  -webkit-text-fill-color: #f6faff;
  font-family: "Exo_bold_Italic", sans-serif;
  font-style: italic;
  font-size: 4rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 3px white;
}

.loadingSvg svg {
  width: 50px;
  height: 50px;
}

.carSvg {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* New class to override margin and make it full screen */
.fullscreenContainer .loadingBox {
  margin: 0;
  border-radius: 0; /* Remove rounded corners if needed */
}
